@charset "UTF-8";
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 200;
  src: local("SpoqaHanSansNeo"), url("../fonts/SpoqaHanSansNeo-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 300;
  src: local("SpoqaHanSansNeo"), url("../fonts/SpoqaHanSansNeo-Light.woff2") format("woff2");
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 400;
  src: local("SpoqaHanSansNeo"), url("../fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 600;
  src: local("NotoSans"), url("../fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 700;
  src: local("NotoSans"), url("../fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14rem;
  font-family: "SpoqaHanSansNeo";
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  line-height: 1;
}

.wrap {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
  touch-action: manipulation;
}

.non_scroll {
  overflow: hidden;
  touch-action: none;
}

/* popup */
.popup {
  position: fixed;
  bottom: 0;
  max-width: 640px;
  z-index: 99;
  /* 알림 서비스 동의 */
  /* 개인신용정보 수집·이용·제공 필수 동의서 */
}
.popup.none {
  display: none;
}
.popup.active .dim {
  display: block;
}
.popup.active > .popup_container {
  transform: translateY(0%);
}
.popup.full > .popup_container {
  top: 0;
  border-radius: 0;
}
.popup.full > .popup_container .con {
  padding: 0 20rem;
  overflow-y: auto;
  height: calc(100% - 90rem);
}
.popup.bottomsheet > .popup_container {
  padding: 0 20rem;
}
.popup .dim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: calc(100% + 1rem);
  background-color: #333;
  opacity: 0.5;
  overscroll-behavior: none;
  transition: all 0.5s ease-in-out;
}
.popup > .popup_container {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 1rem;
  border-radius: 16rem 16rem 0 0;
  transform: translateY(105%);
  transition: transform 0.5s ease;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
}
.popup > .popup_container .pop_header {
  display: flex;
  height: 84rem;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.popup > .popup_container .pop_header h1 {
  font-weight: bold;
  font-size: 20rem;
}
.popup > .popup_container .pop_header .close {
  width: 25rem;
  height: 25rem;
}
.popup > .popup_container .pop_header .close button {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  line-height: 0;
  text-indent: -999rem;
  background: url("../images/icon_header_close.png") no-repeat center center/25rem 25rem;
}
.popup > .popup_container .pop_body .pop-scroll {
  overflow-y: auto;
  overscroll-behavior: none;
}
.popup > .popup_container .pop_body .agree_wrap dt {
  margin-bottom: 8rem;
  font-weight: bold;
  font-size: 18rem;
  line-height: 24rem;
  color: #333;
}
.popup > .popup_container .pop_body .agree_wrap dd {
  border: 1rem solid #ddd;
  border-radius: 16rem;
}
.popup > .popup_container .pop_body .agree_wrap .all_agree {
  position: relative;
  padding: 16rem;
  border-bottom: 1rem solid #ddd;
}
.popup > .popup_container .pop_body .agree_wrap .all_agree input {
  display: block;
  position: absolute;
  left: 16rem;
  top: 16rem;
  width: 24rem;
  height: 24rem;
  margin: 0;
  background: url("../images/icon_check.png") no-repeat center left/24rem 24rem;
  appearance: none;
}
.popup > .popup_container .pop_body .agree_wrap .all_agree input:checked {
  background-image: url("../images/icon_check_checked.png");
}
.popup > .popup_container .pop_body .agree_wrap .all_agree label {
  display: block;
  padding-left: 32rem;
  font-size: 13rem;
  line-height: 24rem;
  color: #333;
}
.popup > .popup_container .pop_body .agree_wrap .agree_list {
  padding: 20rem;
}
.popup > .popup_container .pop_body .agree_wrap .agree_list li {
  position: relative;
}
.popup > .popup_container .pop_body .agree_wrap .agree_list li + li {
  margin-top: 10rem;
}
.popup > .popup_container .pop_body .agree_wrap .agree_list li input {
  position: absolute;
  left: 0;
  top: 0;
  clip: auto;
  border: 0;
  margin: 0;
  appearance: none;
  padding: 0;
  width: 16rem;
  height: 16rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 16rem 16rem;
  background-image: url("../images/icon_checkbox.png");
}
.popup > .popup_container .pop_body .agree_wrap .agree_list li input:checked {
  background-image: url("../images/icon_checkbox_checked.png");
}
.popup > .popup_container .pop_body .agree_wrap .agree_list li label {
  display: block;
  padding: 0 15rem 0 21rem;
  font-size: 13rem;
  line-height: 18rem;
  color: #333;
  background: url("../images/icon_arrow_right.png") no-repeat right center/12rem 12rem;
}
.popup > .popup_container .pop_body .agree_wrap .agree_list li label span {
  color: #b43a6b;
  font-size: inherit;
}
.popup > .popup_container .pop_body .agree_wrap dd + dt {
  margin-top: 24rem;
}
.popup > .popup_container .terms .info {
  margin-bottom: 24rem;
  padding: 16rem;
  border-radius: 12rem;
  background-color: #f7f7f7;
  font-size: 14rem;
  line-height: 20rem;
  color: #666666;
}
.popup > .popup_container .terms .notice.no_bullet {
  padding-bottom: 20rem;
}
.popup > .popup_container .terms .notice.no_bullet .list_dot > li {
  padding-left: 0;
}
.popup > .popup_container .terms .notice.no_bullet .list_dot > li::before {
  display: none;
}
.popup > .popup_container .terms .notice.no_bullet .list_dot > li .list_bar li::before {
  display: none;
}
.popup > .popup_container .terms .notice > dt {
  margin: 24rem 0 16rem;
  font-weight: bold;
  font-size: 18rem;
  color: #333;
}
.popup > .popup_container .terms .notice ol > li + li {
  margin-top: 24rem;
}
.popup > .popup_container .terms .notice ol > li .tit {
  margin-bottom: 14rem;
  font-weight: bold;
  font-size: 16rem;
  line-height: 22rem;
  color: #333;
}
.popup > .popup_container .terms .notice ol > li .list_dot > li {
  position: relative;
  padding-left: 11rem;
  font-size: 14rem;
  line-height: 20rem;
  color: #333;
}
.popup > .popup_container .terms .notice ol > li .list_dot > li + li {
  margin-top: 12rem;
}
.popup > .popup_container .terms .notice ol > li .list_dot > li::before {
  opacity: 1;
}
.popup > .popup_container .terms .notice ol > li .list_bar {
  margin-top: 10rem;
}
.popup > .popup_container .terms .notice ol > li .list_bar li {
  color: #333;
}
.popup > .popup_container .terms .notice ol > li .list_bar li + li {
  margin-top: 8rem;
}
.popup > .popup_container .terms .notice ol > li .list_bar li::before {
  width: 6rem;
  height: 1rem;
  border-radius: 0;
  top: 8rem;
  opacity: 1;
}
.popup > .popup_container .info {
  margin-bottom: 24rem;
  padding: 16rem;
  border-radius: 12rem;
  background-color: #f7f7f7;
  font-size: 14rem;
  line-height: 20rem;
  color: #666666;
}
.popup > .popup_container .notice {
  padding-bottom: 20rem;
}
.popup > .popup_container .notice dt {
  margin: 24rem 0 16rem;
  font-weight: bold;
  font-size: 18rem;
  color: #666666;
}
.popup > .popup_container .notice ol li .tit {
  margin-bottom: 14rem;
  font-weight: bold;
  font-size: 16rem;
  line-height: 22rem;
  color: #666666;
}
.popup > .popup_container .notice ol li .list_dot li {
  position: relative;
  padding-left: 11rem;
  font-size: 14rem;
  line-height: 20rem;
  color: #666666;
}
.popup > .popup_container .notice ol li .list_dot li::before {
  content: "";
  display: block;
  position: absolute;
  top: 6rem;
  left: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #bbb;
}
.popup > .popup_container .notice ol li .list_dot li + li {
  margin-top: 12rem;
}
.popup > .popup_container .notice ol li + li {
  margin-top: 24rem;
}
.popup > .popup_container .btn_wrap {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 30rem 0 20rem;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4) 2%, rgba(255, 255, 255, 0.44) 4%, rgba(255, 255, 255, 0.6) 7%, rgba(255, 255, 255, 0.86) 15%, #fff);
}
.popup > .popup_container .btn_wrap button {
  position: relative;
  z-index: 10;
  display: block;
  width: calc(100% - 40rem);
  height: 56rem;
  margin: 0 auto;
  background-color: #bb1b39;
  border: 0;
  border-radius: 16rem;
  text-align: center;
  font-weight: 700;
  font-size: 16rem;
  color: #fff;
}
.popup > .popup_container .btn_wrap button:disabled {
  background-color: #bf8993;
  color: #dec1c9;
}
.popup > .popup_container .list_dot li {
  position: relative;
  padding-left: 11rem;
  color: #333;
  font-size: 14rem;
  line-height: 19rem;
}
.popup > .popup_container .list_dot li + li {
  margin-top: 12rem;
}
.popup > .popup_container .list_dot li::before {
  content: "";
  display: block;
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #bbb;
  left: 0;
  top: 7rem;
}
.popup.popup_event .popup_container .pop_header {
  position: relative;
}
.popup.popup_event .popup_container .pop_body {
  padding-bottom: 110rem;
  box-sizing: border-box;
}
.popup.popup_event .popup_container .btn_wrap button {
  width: calc(100% - 40rem);
}
.popup.popup_agree .pop_header h1 {
  font-size: 16rem;
  letter-spacing: -1rem;
}
.popup.popup_agree .pop_content {
  padding: 0 0 10rem;
}
.popup.popup_agree .pop_content + .pop_content {
  padding-top: 40rem;
}
.popup.popup_agree h2 {
  margin: 0 0 2rem;
  font-weight: bold;
  font-size: 18rem;
  line-height: 24rem;
  color: #333;
}
.popup.popup_agree h3 {
  font-weight: bold;
  font-size: 16rem;
  line-height: 24rem;
  color: #333;
}
.popup.popup_agree h3 + p {
  margin-top: 16rem;
  font-size: 600px;
  font-size: 13rem;
  line-height: 20rem;
  color: #666;
}
.popup.popup_agree h3 + p + h4 {
  margin-top: 32rem;
}
.popup.popup_agree h4 {
  display: inline-flex;
  height: 32rem;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  margin-bottom: 16rem;
  padding: 0 16rem 0 8rem;
  border-radius: 16rem;
  background-color: #ecf2fc;
  font-weight: 600;
  font-size: 14rem;
  color: #212266;
  line-height: 20rem;
}
.popup.popup_agree h4 span {
  display: inline-block;
  width: 20rem;
  height: 20rem;
  background-color: #212266;
  color: #ecf2fc;
  font-weight: 600;
  font-size: inherit;
  line-height: 20rem;
  text-align: center;
  border-radius: 50%;
}
.popup.popup_agree h5 {
  margin: 32rem 0 12rem;
  font-weight: bold;
  font-size: 16rem;
  line-height: 24rem;
  color: #333;
}
.popup.popup_agree .tbl_collect {
  width: 100%;
}
.popup.popup_agree .tbl_collect tr > * {
  padding: 12rem;
  font-weight: 600;
  font-size: 13rem;
  line-height: 18rem;
}
.popup.popup_agree .tbl_collect th {
  background-color: #f5f5f5;
  color: #333;
  border-radius: 6rem;
  border: 2rem solid #fff;
  text-align: left;
}
.popup.popup_agree .tbl_collect td {
  vertical-align: middle;
  color: #666;
}
.popup.popup_agree .tbl_collect td > * {
  display: block;
  font-size: inherit;
  color: inherit;
}
.popup.popup_agree .tbl_collect td .tit {
  margin-bottom: 4rem;
  font-weight: bold;
  color: #333;
}
.popup.popup_agree .tbl_collect td .noti {
  margin-top: 8rem;
}

/* 게임방법 안내 */
.popup_guide .popup_container {
  height: calc(100% - 50rem);
  border-radius: 32rem 32rem 0 0;
  overscroll-behavior: none;
}
.popup_guide .popup_container .btn_close {
  height: 53rem;
}
.popup_guide .popup_container .btn_close button {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 12rem;
  width: 48rem;
  height: 6rem;
  border-radius: 3rem;
  background-color: #e4e7e9;
  font-size: 0;
  line-height: 0;
  text-indent: -9999rem;
}
.popup_guide .popup_container .pop_body {
  height: calc(100% - 157rem);
  padding: 0 20rem;
  overflow-y: auto;
}
.popup_guide .popup_container .pop_body .game_guide img {
  width: 100%;
}
.popup_guide .popup_container .btn_wrap {
  z-index: 10;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 105rem;
  padding: 24rem 20rem;
  background-color: #fff;
  box-sizing: border-box;
}
.popup_guide .popup_container .btn_wrap button {
  display: block;
  width: 320rem;
  height: 60rem;
  margin: 0 auto;
  background: 0;
}
.popup_guide .popup_container .btn_wrap button img {
  display: block;
  width: 100%;
  height: 100%;
}

/* 이벤트 메인 */
.event .content {
  line-height: 0;
}
.event .content img {
  width: 100%;
}
.event .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 24rem;
  left: 0;
  width: 100%;
  padding: 0 18rem 0 24rem;
}
.event .header img {
  display: block;
  width: 100%;
  height: 100%;
}
.event .header h1 {
  width: 64rem;
  height: 19rem;
}
.event .header .share {
  width: 26rem;
  height: 26rem;
}
.event .notice_wrap {
  padding: 0 16rem 110rem;
  background-color: #f5f5f5;
}
.event .notice_wrap .notice dt {
  padding: 38rem 0 16rem;
  font-size: 14rem;
  font-weight: 600;
  line-height: 19rem;
  color: #666;
}
.event .notice_wrap .notice li {
  position: relative;
  padding-left: 8rem;
  font-size: 12rem;
  line-height: 18rem;
  color: #666;
}
.event .notice_wrap .notice li::before {
  content: "";
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #666;
  left: 0;
  top: 9rem;
}
.event .notice_wrap .notice li + li {
  margin-top: 8rem;
}
.event .notice_wrap .notice li.red {
  color: #bd527e;
}
.event .notice_wrap .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48rem;
  margin-top: 40rem;
  border-top: 1rem solid rgba(154, 154, 154, 0.42);
}
.event .notice_wrap .footer .logo {
  width: 58rem;
  height: 18rem;
}
.event .notice_wrap .footer .logo img {
  width: 100%;
  height: 100%;
}
.event .notice_wrap .footer p {
  font-size: 8rem;
  line-height: 13rem;
  text-align: right;
  color: #666;
}
.event .btn_wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 30rem;
  z-index: 30;
}
.event .btn_wrap button {
  display: block;
  width: 280rem;
  height: 56rem;
  margin: 0 auto;
}
.event .btn_wrap button img {
  width: 100%;
}

/* 게임 */
.wrap header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 20rem 20rem 0;
}
.wrap header h1 {
  line-height: 0;
}
.wrap header h1 img {
  width: 187rem;
  height: 25rem;
}
.wrap header .btn_close {
  line-height: 0;
}
.wrap header .btn_close img {
  height: 24rem;
}

.ready {
  position: relative;
  height: 760rem;
  background: url("../images/bg_game.png") no-repeat 0 0/100% 100%;
}
.ready .text_guide {
  height: 760rem;
  background: url("../images/bg_guide.png") no-repeat 0 0/100% 100%;
}
.ready .text_guide .text {
  position: absolute;
  top: 471rem;
  left: 106rem;
  font-weight: 600;
  font-size: 18rem;
  color: #5c81a2;
}
.ready .text_guide .text span {
  font-weight: 700;
  font-size: 18rem;
  color: #2c9aff;
}
.ready .text_ready {
  display: none;
}
.ready .text_ready .ready_count {
  position: absolute;
  top: 292rem;
  left: 20rem;
  width: 320rem;
  height: 160rem;
  background: url("../images/ready.png") no-repeat 0 0/100% 100%;
  animation: ready 1s step-end forwards;
}
@keyframes ready {
  50% {
    background: url("../images/go.png") no-repeat 0 0/100% 100%;
  }
  100% {
    background: url("../images/go.png") no-repeat 0 0/100% 100%;
  }
}

.start {
  display: none;
  position: relative;
  overflow: hidden;
  height: 760rem;
  background: url("../images/bg_game.png") no-repeat 0 0/100% 100%;
}
.start .round_guide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 760rem;
  background: url("../images/bg_guide.png") no-repeat 0 0/100% 100%;
}
.start .round_guide .text {
  position: absolute;
  top: 471rem;
  left: 106rem;
  font-weight: 600;
  font-size: 18rem;
  color: #5c81a2;
}
.start .round_guide .text span {
  font-weight: 700;
  font-size: 18rem;
  color: #2c9aff;
}
.start .progressbar {
  position: absolute;
  top: 100rem;
  left: calc(50% - 151rem);
  overflow: hidden;
  width: 302rem;
  height: 20rem;
}
.start .progressbar div {
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 100%;
  height: 20rem;
  background-image: linear-gradient(to right, #7a39ff, #ffbcf2 98%);
  border: 1rem solid #2d2839;
  border-radius: 9rem;
}
@keyframes progressbar {
  100% {
    width: 0%;
  }
}
.start .success_goal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6rem;
  position: absolute;
  top: 78rem;
  left: 28rem;
  width: 143rem;
  height: 40rem;
  padding-right: 27rem;
  background: url("../images/bg_success.png") no-repeat 0 0/100% 100%;
}
.start .success_goal .success_wrap {
  position: relative;
  top: 3rem;
  overflow: hidden;
  height: 28rem;
  line-height: 28rem;
}
.start .success_goal .success_wrap .success {
  position: relative;
  text-align: right;
  transition: 0.1s;
}
.start .success_goal .success_wrap .success li {
  height: 28rem;
  font-weight: 700;
  font-size: 18rem;
  color: #ff1c9d;
}
.start .success_goal .slash {
  position: relative;
  top: 3rem;
  height: 28rem;
  line-height: 28rem;
  font-weight: 700;
  font-size: 18rem;
  color: #5e6e84;
}
.start .success_goal .goal {
  position: relative;
  top: 3rem;
  height: 28rem;
  line-height: 28rem;
  font-weight: 700;
  font-size: 18rem;
  color: #5e6e84;
}
.start .time {
  position: absolute;
  top: 77rem;
  right: 28rem;
  overflow: hidden;
  width: 142rem;
  height: 42rem;
  padding-right: 35rem;
  background: url("../images/bg_timer.png") no-repeat 0 0/100% 100%;
}
.start .time::after {
  content: "";
  position: absolute;
  top: 1rem;
  left: -1rem;
  width: 40rem;
  height: 40rem;
  background: url("../images/stopwatch.png") no-repeat 0 0/100% 100%;
}
.start .time .progressbar {
  position: absolute;
  top: 7rem;
  left: 20rem;
  width: 123rem;
  height: 28rem;
  background: #4be6ff;
  border-radius: 0 14rem 14rem 0;
}
@keyframes progressbar {
  100% {
    width: 0%;
  }
}
.start .time .timer {
  position: relative;
  top: 2rem;
  line-height: 42rem;
  text-align: right;
  font-weight: 700;
  font-size: 18rem;
  color: #0062ac;
}
.start .score {
  position: absolute;
  top: 86rem;
  left: 24rem;
  width: 320rem;
  height: 52rem;
  background: url("../images/score0.png") no-repeat 0 0/100% 100%;
}
.start .score.score1 {
  background: url("../images/score1.png") no-repeat 0 0/100% 100%;
}
.start .score.score6 {
  background: url("../images/score6.png") no-repeat 0 0/100% 100%;
}
.start .score.score11 {
  background: url("../images/score11.png") no-repeat 0 0/100% 100%;
}
.start .score.score21 {
  background: url("../images/score21.png") no-repeat 0 0/100% 100%;
}
.start .score.score30 {
  background: url("../images/score30.png") no-repeat 0 0/100% 100%;
}
.start .total_count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  position: absolute;
  top: 158rem;
  left: 143rem;
  width: 74rem;
  height: 27rem;
  background: rgba(255, 255, 255, 0.58);
  border-radius: 14rem;
  text-align: center;
}
.start .total_count span {
  font-weight: 700;
  font-size: 14rem;
  color: #25a0c6;
  opacity: 0.7;
}
.start .total_count .count {
  font-weight: 700;
  opacity: 1;
}
.start .face {
  position: absolute;
  top: 148rem;
  left: 60rem;
  z-index: 1;
  width: 240rem;
  height: 124rem;
  background: url("../images/face1.png") no-repeat 0 0/100% 100%;
}
.start .face.face2 {
  background: url("../images/face2.png") no-repeat 0 0/100% 100%;
}
.start .face.face3 {
  background: url("../images/face3.png") no-repeat 0 0/100% 100%;
}
.start .face.face4 {
  background: url("../images/face4.png") no-repeat 0 0/100% 100%;
}
.start .face.face5 {
  background: url("../images/face5.png") no-repeat 0 0/100% 100%;
}
.start .body {
  position: absolute;
  top: 259rem;
  left: 80rem;
  width: 200rem;
  height: 288rem;
  background: url("../images/body_push.png") no-repeat 0 0/100% 100%;
}
.start .body.pull {
  background: url("../images/body_pull.png") no-repeat 0 0/100% 100%;
}
@keyframes jump {
  50% {
    transform: translateY(-40rem);
  }
}
.start .tube {
  position: absolute;
  top: 440rem;
  left: 0;
  width: 360rem;
  height: 180rem;
  background: url("../images/tube1.png") no-repeat 0 0/100% 100%;
}
.start .tube.tube1 {
  background: url("../images/tube1.png") no-repeat 0 0/100% 100%;
}
.start .tube.tube2 {
  background: url("../images/tube2.png") no-repeat 0 0/100% 100%;
}
.start .tube.tube3 {
  background: url("../images/tube3.png") no-repeat 0 0/100% 100%;
}
.start .tube.tube4 {
  background: url("../images/tube4.png") no-repeat 0 0/100% 100%;
}
.start .tube.tube5 {
  background: url("../images/tube5.png") no-repeat 0 0/100% 100%;
}
.start .tube.tube6 {
  background: url("../images/tube6.png") no-repeat 0 0/100% 100%;
}
.start .tube.tube7 {
  background: url("../images/tube7.png") no-repeat 0 0/100% 100%;
}
.start .tube.tube8 {
  background: url("../images/tube8.png") no-repeat 0 0/100% 100%;
}
.start .tube.tube9 {
  background: url("../images/tube9.png") no-repeat 0 0/100% 100%;
}
.start .tube.tube10 {
  background: url("../images/tube10.png") no-repeat 0 0/100% 100%;
}
.start .tube.tube11 {
  background: url("../images/tube11.png") no-repeat 0 0/100% 100%;
}
.start .gameover {
  display: none;
  position: absolute;
  top: 292rem;
  left: 20rem;
  width: 320rem;
  height: 160rem;
  background: url("../images/gameover.png") no-repeat 0 0/100% 100%;
}
.start .btn_touch {
  position: absolute;
  bottom: 100rem;
  left: 40rem;
  z-index: 1;
  width: 280rem;
  height: 56rem;
  background: url("../images/btn_put.png") no-repeat 0 0/100% 100%;
  touch-action: manipulation;
}

.result {
  display: none;
  position: relative;
  height: 760rem;
}
.result.result1 {
  background: url("../images/result1.png") no-repeat 0 0/100% 100%;
}
.result.result2 {
  background: url("../images/result2.png") no-repeat 0 0/100% 100%;
}
.result.result3 {
  background: url("../images/result3.png") no-repeat 0 0/100% 100%;
}
.result.result4 {
  background: url("../images/result4.png") no-repeat 0 0/100% 100%;
}
.result.result5 {
  background: url("../images/result5.png") no-repeat 0 0/100% 100%;
}
.result.result6 {
  background: url("../images/result6.png") no-repeat 0 0/100% 100%;
}
.result .btn_wrap {
  display: flex;
  gap: 8rem;
  position: absolute;
  bottom: 100rem;
  left: 0;
  padding: 0 24rem;
}
.result .btn_wrap img {
  width: 100%;
}