@charset "UTF-8";
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 200;
  src: local("SpoqaHanSansNeo"), url("../fonts/SpoqaHanSansNeo-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 300;
  src: local("SpoqaHanSansNeo"), url("../fonts/SpoqaHanSansNeo-Light.woff2") format("woff2");
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 400;
  src: local("SpoqaHanSansNeo"), url("../fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 600;
  src: local("NotoSans"), url("../fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 700;
  src: local("NotoSans"), url("../fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14rem;
  font-family: "SpoqaHanSansNeo";
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  line-height: 1;
}

.wrap {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
}

.non_scroll {
  overflow: hidden;
  touch-action: none;
}

/* 본인확인 */
.certified_agree {
  padding: 0 20rem;
  background: none;
}
.certified_agree .btn_close {
  margin: 0 -20rem;
  text-align: right;
}
.certified_agree .btn_close button {
  width: 64rem;
  height: 48rem;
  background: url("../images/icon_header_close.png") no-repeat center/24rem 24rem;
  font-size: 0;
}
.certified_agree .title {
  padding: 10rem 0 16rem;
  line-height: 28rem;
  font-weight: 700;
  font-size: 20rem;
  color: #222;
}
.certified_agree .term {
  padding-bottom: 94rem;
}
.certified_agree .guide {
  position: relative;
  margin-bottom: 56rem;
  padding: 20rem 20rem 20rem 30rem;
  background-color: #f7f8fa;
  border-radius: 20rem;
  line-height: 22rem;
  font-size: 14rem;
  color: #333;
}
.certified_agree .guide::before {
  content: "";
  display: block;
  position: absolute;
  top: 20rem;
  left: 10rem;
  width: 18rem;
  height: 18rem;
  background: url("../images/icon_light.png") no-repeat 0 0/18rem 18rem;
}
.certified_agree .title_label {
  display: block;
  padding-bottom: 8rem;
  line-height: 19rem;
  font-size: 14rem;
  color: #888;
}
.certified_agree .title_label.pb2 {
  padding-bottom: 2rem;
}
.certified_agree input[type=text] {
  width: 100%;
  height: 42rem;
  margin-bottom: 40rem;
  padding: 0;
  border: 0;
  border-bottom: 1rem solid #ddd;
  line-height: 28rem;
  font-size: 20rem;
  color: #333;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.certified_agree input[type=text]::placeholder {
  color: #ccc;
}
.certified_agree .phone {
  display: flex;
  gap: 10rem;
}
.certified_agree .phone .btn_phone_front {
  width: 80rem;
  height: 43rem;
  background: url("../images/icon_arrow.png") no-repeat right 8rem top 13rem/16rem 16rem;
  border-bottom: 1rem solid #ddd;
  text-align: left;
  font-weight: 600;
  font-size: 20rem;
  color: #333;
}
.certified_agree .phone input {
  flex: 1;
}
.certified_agree .phone .btn_certified {
  width: 72rem;
  height: 42rem;
  border: 1rem solid #212266;
  border-radius: 12rem;
  line-height: 43rem;
  font-weight: 600;
  font-size: 0;
  color: #212266;
}
.certified_agree .phone .btn_certified::after {
  content: "인증번호";
  font-size: 14rem;
}
.certified_agree .phone .btn_certified.re {
  border: 1rem solid #999;
  color: #333;
}
.certified_agree .phone .btn_certified.re::after {
  content: "재요청";
}
.certified_agree .certified {
  position: relative;
}
.certified_agree .certified .count {
  position: absolute;
  top: 12rem;
  right: 0;
  line-height: 18rem;
  font-weight: 700;
  font-size: 14rem;
  color: #888;
}
.certified_agree .title_caution {
  margin-bottom: 16rem;
  padding: 46rem 0 6rem;
  border-bottom: 1rem solid #ddd;
  line-height: 20rem;
  font-weight: 600;
  font-size: 16rem;
  color: #333;
}
.certified_agree .login_guide table {
  width: 100%;
  border-bottom: 1rem solid #8a8a8a;
  margin-bottom: 5rem;
}
.certified_agree .login_guide table th {
  font-weight: 400;
  background-color: #dee3ec;
  font-size: 12rem;
  color: #303030;
  padding: 8rem 10rem;
  text-align: left;
  border-top: 1rem solid #8a8a8a;
  width: 50%;
}
.certified_agree .login_guide table td {
  padding: 8rem 10rem;
  font-size: 12rem;
  color: #303030;
  text-align: left;
  border-top: 1rem solid #8a8a8a;
}
.certified_agree .login_guide .guide_info {
  padding-bottom: 8rem;
}
.certified_agree .login_guide .guide_info li {
  position: relative;
  padding: 0 20rem 3rem 10rem;
  line-height: 16rem;
  font-size: 12rem;
  color: #666;
}
.certified_agree .login_guide .guide_info li::before {
  content: "";
  position: absolute;
  top: 6rem;
  left: 5rem;
  width: 3rem;
  height: 3rem;
  background-color: #bbb;
  border-radius: 50%;
}
.certified_agree .essential_wrap {
  margin-bottom: 16rem;
  border: 1rem solid #ddd;
  border-radius: 10rem;
}
.certified_agree .essential_wrap .radio {
  display: flex;
  gap: 54rem;
}
.certified_agree .essential_wrap .radio input {
  display: none;
}
.certified_agree .essential_wrap .radio input:checked + label::before {
  border: 1rem solid #212266;
}
.certified_agree .essential_wrap .radio input:checked + label::after {
  background-color: #212266;
}
.certified_agree .essential_wrap .radio label {
  position: relative;
  line-height: 20rem;
  padding-left: 28rem;
  font-size: 16rem;
  color: #333;
}
.certified_agree .essential_wrap .radio label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  height: 20rem;
  box-sizing: border-box;
  border: 1rem solid #c7c7c7;
  border-radius: 50%;
}
.certified_agree .essential_wrap .radio label::after {
  content: "";
  position: absolute;
  top: 5rem;
  left: 5rem;
  width: 10rem;
  height: 10rem;
  background-color: #eee;
  border-radius: 50%;
  box-sizing: border-box;
}
.certified_agree .essential_wrap .title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16rem 20rem;
  border-bottom: 1rem solid #ddd;
}
.certified_agree .essential_wrap .title_wrap .title_essential {
  font-weight: 600;
  font-size: 14rem;
  color: #333;
}
.certified_agree .essential_wrap .title_wrap .radio {
  display: flex;
  gap: 16rem;
}
.certified_agree .essential_wrap .title_wrap .radio label {
  position: relative;
  line-height: 17rem;
  padding-left: 22rem;
  font-size: 12rem;
}
.certified_agree .essential_wrap .title_wrap .radio label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16rem;
  height: 16rem;
  box-sizing: border-box;
  border: 1rem solid #c7c7c7;
  border-radius: 50%;
}
.certified_agree .essential_wrap .title_wrap .radio label::after {
  content: "";
  position: absolute;
  top: 4rem;
  left: 4rem;
  width: 8rem;
  height: 8rem;
  box-sizing: border-box;
  background-color: #eee;
  border-radius: 50%;
}
.certified_agree .essential_wrap .contents {
  padding: 16rem 20rem 25rem;
}
.certified_agree .essential_wrap .contents .content {
  display: flex;
  gap: 8rem;
  padding-bottom: 26rem;
}
.certified_agree .essential_wrap .contents .content .icon {
  height: 20rem;
  padding: 0 8rem;
  background-color: #1998e9;
  border-radius: 4rem;
  line-height: 20rem;
  font-size: 10rem;
  color: #fff;
}
.certified_agree .essential_wrap .contents .content .text {
  flex: 1;
  font-size: 14rem;
  line-height: 20rem;
  color: #888;
}
.certified_agree .grade_guide {
  margin-bottom: 40rem;
  padding: 20rem;
  border: 1rem solid #ddd;
  border-radius: 10rem;
}
.certified_agree .grade_guide .title_guide {
  padding-bottom: 20rem;
  font-weight: 600;
  font-size: 14rem;
  color: #333;
}
.certified_agree .grade_guide .grade {
  display: flex;
  height: 33rem;
  margin-bottom: 16rem;
}
.certified_agree .grade_guide .grade li {
  width: 20%;
  text-align: center;
  line-height: 32rem;
  font-size: 12rem;
  color: #fff;
}
.certified_agree .grade_guide .grade li:nth-child(1) {
  background: #1998e9;
  border-radius: 32rem 0 0 32rem;
}
.certified_agree .grade_guide .grade li:nth-child(2) {
  background: #17db6b;
  font-size: 11rem;
}
.certified_agree .grade_guide .grade li:nth-child(3) {
  background: #dec40d;
}
.certified_agree .grade_guide .grade li:nth-child(4) {
  background: #fb9527;
}
.certified_agree .grade_guide .grade li:nth-child(5) {
  background: #ea1600;
  border-radius: 0 32rem 32rem 0;
}
.certified_agree .grade_guide .summary {
  font-size: 12rem;
  color: #888;
}
.certified_agree .caution {
  padding-bottom: 8rem;
}
.certified_agree .caution li {
  position: relative;
  padding: 0 0 12rem 11rem;
  line-height: 16rem;
  font-size: 12rem;
  color: #666;
}
.certified_agree .caution li::before {
  content: "";
  position: absolute;
  top: 6rem;
  left: 0;
  width: 3rem;
  height: 3rem;
  background: #bbb;
  border-radius: 50%;
}
.certified_agree .caution li.red {
  color: #bd527e;
}
.certified_agree .btn_ok {
  display: block;
  width: 100%;
  height: 54rem;
  margin: 20rem 0;
  background: #212266;
  border-radius: 16rem;
  font-size: 16rem;
  color: #fff;
}
.certified_agree .btn_ok:disabled {
  background: #eaeaf4;
  color: #a1a3c9;
}
.certified_agree .btn_fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
}
.certified_agree .btn_fixed .btn_ok {
  width: calc(100% - 40rem);
  margin: 0 20rem 20rem;
}

.phone_front_layer {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}
.phone_front_layer.active .popup_container {
  transform: translateY(0);
}
.phone_front_layer .dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(68, 68, 68, 0.5);
  transition: all 0.5s ease-in-out;
}
.phone_front_layer .popup_container {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: calc(100% - 68rem);
  padding: 0 20rem;
  border-radius: 16rem 16rem 0 0;
  transform: translateY(100%);
  transition: transform 0.5s ease;
  background: #fff;
  box-sizing: border-box;
}
.phone_front_layer .popup_container .btn_close {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 12rem 0 30rem;
  font-size: 0;
}
.phone_front_layer .popup_container .btn_close::before {
  content: "";
  width: 62rem;
  height: 4rem;
  border-radius: 30rem;
  background: #eee;
}
.phone_front_layer .popup_container .title {
  padding-bottom: 12rem;
  line-height: 28rem;
  font-weight: 600;
  font-size: 20rem;
  color: #222;
}
.phone_front_layer .popup_container .selectbox li.active button {
  background: #f7f8fa;
  color: #5178f2;
}
.phone_front_layer .popup_container .selectbox li button {
  width: 100%;
  height: 51rem;
  padding: 0 10rem;
  border-radius: 8rem;
  text-align: left;
  font-size: 16rem;
  color: #666;
}
.phone_front_layer .popup_container .btn_ok {
  display: block;
  width: 100%;
  height: 54rem;
  margin: 20rem 0;
  background: #212266;
  border-radius: 16rem;
  font-size: 16rem;
  color: #fff;
}

/* popup */
.popup {
  position: fixed;
  bottom: 0;
  max-width: 640px;
  z-index: 99;
  /* 알림 서비스 동의 */
  /* 개인신용정보 수집·이용·제공 필수 동의서 */
}
.popup.none {
  display: none;
}
.popup.active .dim {
  display: block;
}
.popup.active > .popup_container {
  transform: translateY(0%);
}
.popup.full > .popup_container {
  top: 0;
  border-radius: 0;
}
.popup.full > .popup_container .con {
  padding: 0 20rem;
  overflow-y: auto;
  height: calc(100% - 90rem);
}
.popup.bottomsheet > .popup_container {
  padding: 0 20rem;
}
.popup .dim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: calc(100% + 1rem);
  background-color: #333;
  opacity: 0.5;
  overscroll-behavior: none;
  transition: all 0.5s ease-in-out;
}
.popup > .popup_container {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 1rem;
  border-radius: 16rem 16rem 0 0;
  transform: translateY(105%);
  transition: transform 0.5s ease;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
}
.popup > .popup_container .pop_header {
  display: flex;
  height: 84rem;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.popup > .popup_container .pop_header h1 {
  font-weight: bold;
  font-size: 20rem;
}
.popup > .popup_container .pop_header .close {
  width: 25rem;
  height: 25rem;
}
.popup > .popup_container .pop_header .close button {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  line-height: 0;
  text-indent: -999rem;
  background: url("../images/icon_header_close.png") no-repeat center center/25rem 25rem;
}
.popup > .popup_container .pop_body .pop-scroll {
  overflow-y: auto;
  overscroll-behavior: none;
}
.popup > .popup_container .pop_body .agree_wrap dt {
  margin-bottom: 8rem;
  font-weight: bold;
  font-size: 18rem;
  line-height: 24rem;
  color: #333;
}
.popup > .popup_container .pop_body .agree_wrap dd {
  border: 1rem solid #ddd;
  border-radius: 16rem;
}
.popup > .popup_container .pop_body .agree_wrap .all_agree {
  position: relative;
  padding: 16rem;
  border-bottom: 1rem solid #ddd;
}
.popup > .popup_container .pop_body .agree_wrap .all_agree input {
  display: block;
  position: absolute;
  left: 16rem;
  top: 16rem;
  width: 24rem;
  height: 24rem;
  margin: 0;
  background: url("../images/icon_check.png") no-repeat center left/24rem 24rem;
  appearance: none;
}
.popup > .popup_container .pop_body .agree_wrap .all_agree input:checked {
  background-image: url("../images/icon_check_checked.png");
}
.popup > .popup_container .pop_body .agree_wrap .all_agree label {
  display: block;
  padding-left: 32rem;
  font-size: 13rem;
  line-height: 24rem;
  color: #333;
}
.popup > .popup_container .pop_body .agree_wrap .agree_list {
  padding: 20rem;
}
.popup > .popup_container .pop_body .agree_wrap .agree_list li {
  position: relative;
}
.popup > .popup_container .pop_body .agree_wrap .agree_list li + li {
  margin-top: 10rem;
}
.popup > .popup_container .pop_body .agree_wrap .agree_list li input {
  position: absolute;
  left: 0;
  top: 0;
  clip: auto;
  border: 0;
  margin: 0;
  appearance: none;
  padding: 0;
  width: 16rem;
  height: 16rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 16rem 16rem;
  background-image: url("../images/icon_checkbox.png");
}
.popup > .popup_container .pop_body .agree_wrap .agree_list li input:checked {
  background-image: url("../images/icon_checkbox_checked.png");
}
.popup > .popup_container .pop_body .agree_wrap .agree_list li label {
  display: block;
  padding: 0 15rem 0 21rem;
  font-size: 13rem;
  line-height: 18rem;
  color: #333;
  background: url("../images/icon_arrow_right2.png") no-repeat right center/12rem 12rem;
}
.popup > .popup_container .pop_body .agree_wrap .agree_list li label span {
  color: #b43a6b;
  font-size: inherit;
}
.popup > .popup_container .pop_body .agree_wrap dd + dt {
  margin-top: 24rem;
}
.popup > .popup_container .terms .info {
  margin-bottom: 24rem;
  padding: 16rem;
  border-radius: 12rem;
  background-color: #f7f7f7;
  font-size: 14rem;
  line-height: 20rem;
  color: #666666;
}
.popup > .popup_container .terms .notice.no_bullet {
  padding-bottom: 20rem;
}
.popup > .popup_container .terms .notice.no_bullet .list_dot > li {
  padding-left: 0;
}
.popup > .popup_container .terms .notice.no_bullet .list_dot > li::before {
  display: none;
}
.popup > .popup_container .terms .notice.no_bullet .list_dot > li .list_bar li::before {
  display: none;
}
.popup > .popup_container .terms .notice > dt {
  margin: 24rem 0 16rem;
  font-weight: bold;
  font-size: 18rem;
  color: #333;
}
.popup > .popup_container .terms .notice ol > li + li {
  margin-top: 24rem;
}
.popup > .popup_container .terms .notice ol > li .tit {
  margin-bottom: 14rem;
  font-weight: bold;
  font-size: 16rem;
  line-height: 22rem;
  color: #333;
}
.popup > .popup_container .terms .notice ol > li .list_dot > li {
  position: relative;
  padding-left: 11rem;
  font-size: 14rem;
  line-height: 20rem;
  color: #333;
}
.popup > .popup_container .terms .notice ol > li .list_dot > li + li {
  margin-top: 12rem;
}
.popup > .popup_container .terms .notice ol > li .list_dot > li::before {
  opacity: 1;
}
.popup > .popup_container .terms .notice ol > li .list_bar {
  margin-top: 10rem;
}
.popup > .popup_container .terms .notice ol > li .list_bar li {
  color: #333;
}
.popup > .popup_container .terms .notice ol > li .list_bar li + li {
  margin-top: 8rem;
}
.popup > .popup_container .terms .notice ol > li .list_bar li::before {
  width: 6rem;
  height: 1rem;
  border-radius: 0;
  top: 8rem;
  opacity: 1;
}
.popup > .popup_container .info {
  margin-bottom: 24rem;
  padding: 16rem;
  border-radius: 12rem;
  background-color: #f7f7f7;
  font-size: 14rem;
  line-height: 20rem;
  color: #666666;
}
.popup > .popup_container .notice {
  padding-bottom: 20rem;
}
.popup > .popup_container .notice dt {
  margin: 24rem 0 16rem;
  font-weight: bold;
  font-size: 18rem;
  color: #666666;
}
.popup > .popup_container .notice ol li .tit {
  margin-bottom: 14rem;
  font-weight: bold;
  font-size: 16rem;
  line-height: 22rem;
  color: #666666;
}
.popup > .popup_container .notice ol li .list_dot li {
  position: relative;
  padding-left: 11rem;
  font-size: 14rem;
  line-height: 20rem;
  color: #666666;
}
.popup > .popup_container .notice ol li .list_dot li::before {
  content: "";
  display: block;
  position: absolute;
  top: 6rem;
  left: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #bbb;
}
.popup > .popup_container .notice ol li .list_dot li + li {
  margin-top: 12rem;
}
.popup > .popup_container .notice ol li + li {
  margin-top: 24rem;
}
.popup > .popup_container .btn_wrap {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 30rem 0 20rem;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4) 2%, rgba(255, 255, 255, 0.44) 4%, rgba(255, 255, 255, 0.6) 7%, rgba(255, 255, 255, 0.86) 15%, #fff);
}
.popup > .popup_container .btn_wrap button {
  position: relative;
  z-index: 10;
  display: block;
  width: calc(100% - 40rem);
  height: 56rem;
  margin: 0 auto;
  background-color: #bb1b39;
  border: 0;
  border-radius: 16rem;
  text-align: center;
  font-weight: 700;
  font-size: 16rem;
  color: #fff;
}
.popup > .popup_container .btn_wrap button:disabled {
  background-color: #bf8993;
  color: #dec1c9;
}
.popup > .popup_container .list_dot li {
  position: relative;
  padding-left: 11rem;
  color: #333;
  font-size: 14rem;
  line-height: 19rem;
}
.popup > .popup_container .list_dot li + li {
  margin-top: 12rem;
}
.popup > .popup_container .list_dot li::before {
  content: "";
  display: block;
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #bbb;
  left: 0;
  top: 7rem;
}
.popup.popup_event .popup_container .pop_header {
  position: relative;
}
.popup.popup_event .popup_container .pop_body {
  padding-bottom: 110rem;
  box-sizing: border-box;
}
.popup.popup_event .popup_container .btn_wrap button {
  width: calc(100% - 40rem);
}
.popup.popup_agree .pop_header h1 {
  font-size: 16rem;
  letter-spacing: -1rem;
}
.popup.popup_agree .pop_content {
  padding: 0 0 10rem;
}
.popup.popup_agree .pop_content + .pop_content {
  padding-top: 40rem;
}
.popup.popup_agree h2 {
  margin: 0 0 2rem;
  font-weight: bold;
  font-size: 18rem;
  line-height: 24rem;
  color: #333;
}
.popup.popup_agree h3 {
  font-weight: bold;
  font-size: 16rem;
  line-height: 24rem;
  color: #333;
}
.popup.popup_agree h3 + p {
  margin-top: 16rem;
  font-size: 600px;
  font-size: 13rem;
  line-height: 20rem;
  color: #666;
}
.popup.popup_agree h3 + p + h4 {
  margin-top: 32rem;
}
.popup.popup_agree h4 {
  display: inline-flex;
  height: 32rem;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  margin-bottom: 16rem;
  padding: 0 16rem 0 8rem;
  border-radius: 16rem;
  background-color: #ecf2fc;
  font-weight: 600;
  font-size: 14rem;
  color: #212266;
  line-height: 20rem;
}
.popup.popup_agree h4 span {
  display: inline-block;
  width: 20rem;
  height: 20rem;
  background-color: #212266;
  color: #ecf2fc;
  font-weight: 600;
  font-size: inherit;
  line-height: 20rem;
  text-align: center;
  border-radius: 50%;
}
.popup.popup_agree h5 {
  margin: 32rem 0 12rem;
  font-weight: bold;
  font-size: 16rem;
  line-height: 24rem;
  color: #333;
}
.popup.popup_agree .tbl_collect {
  width: 100%;
}
.popup.popup_agree .tbl_collect tr > * {
  padding: 12rem;
  font-weight: 600;
  font-size: 13rem;
  line-height: 18rem;
}
.popup.popup_agree .tbl_collect th {
  background-color: #f5f5f5;
  color: #333;
  border-radius: 6rem;
  border: 2rem solid #fff;
  text-align: left;
}
.popup.popup_agree .tbl_collect td {
  vertical-align: middle;
  color: #666;
}
.popup.popup_agree .tbl_collect td > * {
  display: block;
  font-size: inherit;
  color: inherit;
}
.popup.popup_agree .tbl_collect td .tit {
  margin-bottom: 4rem;
  font-weight: bold;
  color: #333;
}
.popup.popup_agree .tbl_collect td .noti {
  margin-top: 8rem;
}

/* 이벤트 조기종료 안내 팝업 */
.info_popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.info_popup .dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.info_popup .wrap {
  width: 320rem;
  padding: 20rem;
  background: #fff;
  border-radius: 24rem;
  text-align: center;
}
.info_popup .wrap .title {
  padding: 22rem 0 20rem;
  font-weight: 700;
  font-size: 26rem;
  color: #000;
}
.info_popup .wrap .soldout {
  padding-bottom: 20rem;
}
.info_popup .wrap .soldout img {
  width: 100%;
}
.info_popup .wrap .text {
  padding-bottom: 10rem;
  line-height: 24rem;
  font-size: 16rem;
  color: #333;
}
.info_popup .wrap .text span {
  font-size: 16rem;
  color: #b43a6b;
}
.info_popup .wrap button {
  width: 100%;
  height: 56rem;
  margin-top: 12rem;
  background: #212266;
  border-radius: 16rem;
  font-size: 16rem;
  color: #fff;
}

/* 메인 */
.main {
  text-align: center;
}
.main .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 21rem;
  left: 0;
  width: 100%;
  padding: 0 21rem;
}
.main .header img {
  display: block;
  width: 100%;
  height: 100%;
}
.main .header h1 {
  width: 64rem;
  height: 19rem;
}
.main .header .share {
  width: 26rem;
  height: 26rem;
}
.main .visual {
  overflow: hidden;
  height: 760rem;
  margin-bottom: 60rem;
  padding-top: 100rem;
  background: #16042e url("../images/bg_visual.png") no-repeat 0 0/100% auto;
}
.main .visual .title {
  position: relative;
  height: 125rem;
}
.main .visual .title div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.main .visual .title .title1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation: title1 0.4s 2s forwards;
}
.main .visual .title .title1 img {
  width: 324rem;
  height: 120rem;
}
@keyframes title1 {
  100% {
    left: -100%;
  }
}
.main .visual .title .title2 {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  animation: title2 0.4s 2s forwards;
}
.main .visual .title .title2 img {
  width: 324rem;
  height: 125rem;
}
@keyframes title2 {
  100% {
    left: 0%;
  }
}
.main .visual .period {
  padding: 18rem 0 22rem;
}
.main .visual .period img {
  width: 200rem;
  height: 18rem;
}
.main .visual .mockup img {
  width: 190rem;
  height: 376rem;
}
.main .text_event1 {
  padding-bottom: 24rem;
}
.main .text_event1 img {
  width: 202rem;
  height: 194rem;
}
.main .img_event1 {
  padding-bottom: 60rem;
}
.main .img_event1 img {
  width: 292rem;
  height: 262rem;
}
.main .text_event2 {
  padding-bottom: 24rem;
}
.main .text_event2 img {
  width: 234rem;
  height: 194rem;
}
.main .img_event2 {
  padding-bottom: 60rem;
}
.main .img_event2 img {
  width: 292rem;
  height: 232rem;
}
.main .swiper_wrap {
  height: 560rem;
  background-image: linear-gradient(to bottom, #f4ecff, #fff);
}
.main .swiper_wrap .title_easymode_swiper {
  padding: 60rem 0 5rem;
}
.main .swiper_wrap .title_easymode_swiper img {
  width: 231rem;
  height: 68rem;
}
.main .swiper_wrap .swiper_easymode {
  overflow: hidden;
}
.main .swiper_wrap .swiper_easymode .swiper-slide {
  width: 306rem;
  margin: 0 -9rem;
}
.main .swiper_wrap .swiper_easymode .swiper-slide img {
  width: 100%;
}
.main .swiper_wrap .swiper_easymode .swiper-pagination {
  position: relative;
}
.main .swiper_wrap .swiper_easymode .swiper-pagination .swiper-pagination-bullet {
  width: 6rem;
  height: 6rem;
  margin: 0 3rem;
  background: #cac9c7;
  border-radius: 20rem;
  opacity: 1;
}
.main .swiper_wrap .swiper_easymode .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 20rem;
  background: #7d3bdd;
}
.main .notice_wrap {
  padding: 0 16rem 110rem;
  background: #f7f7f7;
  text-align: left;
}
.main .notice_wrap .notice dt {
  padding: 38rem 0 16rem;
  font-size: 14rem;
  font-weight: 600;
  line-height: 19rem;
  color: #222;
}
.main .notice_wrap .notice .event {
  padding: 14rem 0 12rem;
  font-size: 13rem;
}
.main .notice_wrap .notice .event:first-child {
  padding-top: 0;
}
.main .notice_wrap .notice li {
  position: relative;
  padding-left: 8rem;
  font-size: 12rem;
  line-height: 18rem;
  color: #666;
}
.main .notice_wrap .notice li::before {
  content: "";
  display: block;
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #666;
  left: 0;
  top: 8rem;
}
.main .notice_wrap .notice li + li {
  margin-top: 8rem;
}
.main .notice_wrap .notice li.red {
  color: #ff2c9c;
}
.main .notice_wrap .notice li.depth {
  margin-left: 10rem;
}
.main .notice_wrap .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48rem;
  margin-top: 40rem;
  border-top: 1rem solid #ccc;
}
.main .notice_wrap .footer .logo {
  width: 58rem;
  height: 18rem;
}
.main .notice_wrap .footer .logo img {
  width: 100%;
  height: 100%;
}
.main .notice_wrap .footer p {
  font-size: 11rem;
  line-height: 13rem;
  text-align: right;
  color: #666;
}
.main .btn_get {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding-bottom: 24rem;
  text-align: center;
  line-height: 0;
  opacity: 0;
  animation: btn_get 1s 2s forwards;
}
@keyframes btn_get {
  100% {
    opacity: 1;
  }
}
.main .btn_get::after {
  content: "";
  position: absolute;
  top: -64rem;
  left: calc(50% - 61rem);
  width: 122rem;
  height: 60rem;
  background: url("../images/bubble_noapp.png") no-repeat 0 0/100% 100%;
}
.main .btn_get button {
  line-height: 0;
}
.main .btn_get button img {
  width: 312rem;
  height: 60rem;
}

/* 간편모드 체험 */
.experience {
  min-height: 100vh;
  background: #16042e url("../images/bg_experience.png") no-repeat 0 0/100% auto;
  text-align: center;
}
.experience .btn_close {
  position: absolute;
  top: 24rem;
  right: 24rem;
}
.experience .btn_close img {
  width: 24rem;
  height: 24rem;
}
.experience > .text_guide {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 0;
}
.experience > .text_guide img {
  width: 100%;
  height: 237rem;
  opacity: 0;
}
.experience .list li {
  display: none;
}
.experience .list li:first-child {
  display: block;
}
.experience .list li::after {
  content: "";
  position: absolute;
  width: 39rem;
  height: 39rem;
  background: rgba(35, 167, 255, 0.6);
  border: 2rem solid rgba(0, 138, 230, 0.9019607843);
  border-radius: 50%;
  opacity: 0;
  transform: translate(30rem, 30rem);
  pointer-events: none;
  animation: pointer 4s 1s infinite;
}
@keyframes pointer {
  12.5% {
    opacity: 1;
    transform: translate(0, 0);
  }
  17.5% {
    transform: scale(0.7);
  }
  22.5% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    opacity: 0;
    transform: scale(1);
  }
}
.experience .list li.list1::after {
  top: 217rem;
  left: 174rem;
}
.experience .list li.list2::after {
  top: 310rem;
  left: 143rem;
  animation: pointer 4s 4s infinite;
}
.experience .list li.list3::after {
  top: 208rem;
  left: 221rem;
  animation: pointer 4s 2s infinite;
}
.experience .list li.list4::after {
  top: 436rem;
  left: 224rem;
  animation: pointer 4s 4s infinite;
}
.experience .list li.list5::after {
  top: 388rem;
  left: 234rem;
  animation: pointer 4s 2s infinite;
}
.experience .list li.list6::after {
  top: 309rem;
  left: 76rem;
  animation: pointer 4s 2s infinite;
}
.experience .list li.list7::after {
  top: 455rem;
  left: 170rem;
  animation: pointer 4s 2s infinite;
}
.experience .list li.complete::after {
  display: none;
}
.experience .list li.app_complete::after {
  display: none;
}
.experience .list li .mockup {
  position: absolute;
  top: 0;
  left: 0;
}
.experience .list li .mockup img {
  width: 360rem;
  height: 650rem;
}
.experience .list li .btn {
  position: absolute;
  overflow: hidden;
  padding: 5rem;
  line-height: 0;
}
.experience .list li .btn::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(130deg, #b6f2ff 8%, #a851ff 52%, #f72c99 94%);
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.experience .list li .btn img {
  position: relative;
}
.experience .list li .btn1 {
  top: 189rem;
  left: 96rem;
  border-radius: 23rem;
}
.experience .list li .btn1 img {
  width: 148rem;
  height: 72rem;
}
.experience .list li .mockup2 {
  animation: mockup2 1s step-end forwards;
}
@keyframes mockup2 {
  100% {
    opacity: 0;
  }
}
.experience .list li .mockup3 {
  opacity: 0;
  animation: mockup3 1s step-end forwards;
}
@keyframes mockup3 {
  100% {
    opacity: 1;
  }
}
.experience .list li .mockup_scroll1 {
  position: absolute;
  top: 205rem;
  left: 71rem;
  width: 218rem;
  height: 398rem;
  overflow: hidden;
  border-radius: 25rem;
}
.experience .list li .mockup_scroll1 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 218rem;
  height: 1016rem;
  animation: mockup_scroll1 ease-in-out 2s 1s forwards;
}
@keyframes mockup_scroll1 {
  100% {
    top: -335rem;
  }
}
.experience .list li .text_guide2 {
  animation: text_guide2 1s step-end forwards;
}
@keyframes text_guide2 {
  100% {
    opacity: 0;
  }
}
.experience .list li .text_guide3 {
  opacity: 0;
  animation: text_guide3 4s step-end forwards;
}
@keyframes text_guide3 {
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.experience .list li .text_guide4 {
  opacity: 0;
  animation: text_guide4 1s 3s step-end forwards;
}
@keyframes text_guide4 {
  100% {
    opacity: 1;
  }
}
.experience .list li .btn2 {
  top: 287rem;
  left: 41rem;
  border-radius: 23rem;
}
.experience .list li .btn2::before {
  top: -268rem;
  height: 536rem;
  opacity: 0;
  animation: rotate 1s linear infinite, btn2_before 1s 3.5s forwards;
}
@keyframes btn2_before {
  100% {
    opacity: 1;
  }
}
.experience .list li .btn2 img {
  width: 268rem;
  height: 72rem;
  transform: scale(0.77);
  opacity: 0;
  animation: btn2 1s 3s forwards;
}
@keyframes btn2 {
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.experience .list li .text_guide5 {
  animation: text_guide5 2s step-end forwards;
}
@keyframes text_guide5 {
  100% {
    opacity: 0;
  }
}
.experience .list li .text_guide6 {
  opacity: 0;
  animation: text_guide6 2s step-end forwards;
}
@keyframes text_guide6 {
  100% {
    opacity: 1;
  }
}
.experience .list li .btn3 {
  top: 196rem;
  left: 209rem;
  border-radius: 50%;
}
.experience .list li .btn3::before {
  top: -50%;
  height: 112rem;
  opacity: 0;
  animation: rotate 1s linear infinite, btn3_before 1s 1.5s forwards;
}
@keyframes btn3_before {
  100% {
    opacity: 1;
  }
}
.experience .list li .btn3 img {
  width: 56rem;
  height: 56rem;
  transform: scale(0.55);
  opacity: 0;
  animation: btn3 1s 1s forwards;
}
@keyframes btn3 {
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.experience .list li .mockup_scroll2 {
  position: absolute;
  top: 205rem;
  left: 70rem;
  width: 218rem;
  height: 398rem;
  overflow: hidden;
  background: #fff;
  border-radius: 25rem;
}
.experience .list li .mockup_scroll2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 218rem;
  height: 585rem;
  animation: mockup_scroll2 ease-in-out 2s 1s forwards;
}
@keyframes mockup_scroll2 {
  100% {
    top: -240rem;
  }
}
.experience .list li .text_guide7 {
  opacity: 1;
  animation: text_guide7 1s step-end forwards;
}
@keyframes text_guide7 {
  100% {
    opacity: 0;
  }
}
.experience .list li .text_guide8 {
  opacity: 0;
  animation: text_guide8 4s step-end forwards;
}
@keyframes text_guide8 {
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.experience .list li .text_guide9 {
  opacity: 0;
  animation: text_guide9 1s 3s step-end forwards;
}
@keyframes text_guide9 {
  100% {
    opacity: 1;
  }
}
.experience .list li .btn4 {
  top: 407rem;
  left: 150rem;
  border-radius: 23rem;
}
.experience .list li .btn4::before {
  top: -148rem;
  height: 296rem;
  opacity: 0;
  animation: rotate 1s linear infinite, btn2_before 1s 3.5s forwards;
}
@keyframes btn2_before {
  100% {
    opacity: 1;
  }
}
.experience .list li .btn4 img {
  width: 148rem;
  height: 72rem;
  transform: scale(0.85);
  opacity: 0;
  animation: btn2 1s 3s forwards;
}
@keyframes btn2 {
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.experience .list li .text_guide10 {
  animation: text_guide10 2s step-end forwards;
}
@keyframes text_guide10 {
  100% {
    opacity: 0;
  }
}
.experience .list li .text_guide11 {
  opacity: 0;
  animation: text_guide11 2s step-end forwards;
}
@keyframes text_guide11 {
  100% {
    opacity: 1;
  }
}
.experience .list li .btn5 {
  top: 377rem;
  left: 181rem;
  border-radius: 23rem;
}
.experience .list li .btn5::before {
  top: -108rem;
  height: 216rem;
  opacity: 0;
  animation: rotate 1s linear infinite, btn5_before 1s 1.5s forwards;
}
@keyframes btn5_before {
  100% {
    opacity: 1;
  }
}
.experience .list li .btn5 img {
  width: 108rem;
  height: 54rem;
  transform: scale(0.7);
  opacity: 0;
  animation: btn5 1s 1s forwards;
}
@keyframes btn5 {
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.experience .list li .text_guide12 {
  animation: text_guide12 2s step-end forwards;
}
@keyframes text_guide12 {
  100% {
    opacity: 0;
  }
}
.experience .list li .text_guide13 {
  opacity: 0;
  animation: text_guide13 2s step-end forwards;
}
@keyframes text_guide13 {
  100% {
    opacity: 1;
  }
}
.experience .list li .btn6 {
  top: 301rem;
  left: 65rem;
  border-radius: 25rem;
}
.experience .list li .btn6::before {
  top: -50%;
  height: 112rem;
  opacity: 0;
  animation: rotate 1s linear infinite, btn6_before 1s 1.5s forwards;
}
@keyframes btn6_before {
  100% {
    opacity: 1;
  }
}
.experience .list li .btn6 img {
  width: 56rem;
  height: 50rem;
  transform: scale(0.8);
  opacity: 0;
  animation: btn6 1s 1s forwards;
}
@keyframes btn6 {
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.experience .list li .btn7 {
  top: 428rem;
  left: 41rem;
  border-radius: 23rem;
}
.experience .list li .btn7::before {
  top: -268rem;
  height: 536rem;
  opacity: 0;
  animation: rotate 1s linear infinite, btn7_before 1s 1.5s forwards;
}
@keyframes btn7_before {
  100% {
    opacity: 1;
  }
}
.experience .list li .btn7 img {
  width: 268rem;
  height: 72rem;
  transform: scale(0.8);
  opacity: 0;
  animation: btn7 1s 1s forwards;
}
@keyframes btn7 {
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.experience .list li .text_guide {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 0;
}
.experience .list li .text_guide img {
  width: 100%;
  height: 237rem;
}
.experience .list li .btn_bottom {
  position: fixed;
  bottom: 24rem;
  left: 0;
  width: 100%;
}
.experience .list li .btn_bottom img {
  width: 312rem;
  height: 60rem;
}
.experience .list li.complete {
  min-height: 100vh;
  background: #16042e url("../images/bg_experience_complete.png") no-repeat 0 0/100% auto;
}
.experience .list li.complete .title {
  padding: 25rem 0 46rem;
}
.experience .list li.complete .title img {
  width: 245rem;
  height: 203rem;
}
.experience .list li.complete .point img {
  width: 292rem;
  height: 204rem;
}
.experience .list li.complete .bubble {
  position: fixed;
  bottom: 88rem;
  left: 0;
  width: 100%;
}
.experience .list li.complete .bubble img {
  width: 198rem;
  height: 60rem;
}
.experience .list li.app_complete {
  min-height: 100vh;
  background: #16042e url("../images/bg_experience_complete.png") no-repeat 0 0/100% auto;
}
.experience .list li.app_complete .title {
  padding: 64rem 0 36rem;
}
.experience .list li.app_complete .title img {
  width: 260rem;
  height: 132rem;
}
.experience .list li.app_complete .point img {
  width: 360rem;
  height: 275rem;
}