@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 400;
  src: local("SpoqaHanSansNeo"), url("../fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14rem;
  font-family: "SpoqaHanSansNeo";
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  line-height: 1;
}

.settlement {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
  background: #000 url("../images/bg_settlement.png") no-repeat 0 -24rem/100% 600rem;
}
.settlement .btn_close button {
  position: absolute;
  top: 13rem;
  right: 20rem;
}
.settlement .btn_close button img {
  width: 24rem;
  height: 24rem;
}
.settlement .title {
  padding: 69rem 0 12rem;
  text-align: center;
}
.settlement .title img {
  width: 242rem;
  height: 96rem;
}
.settlement .user {
  padding-bottom: 240rem;
  text-align: center;
  font-size: 15rem;
  color: #fff;
}
.settlement .count {
  display: flex;
  gap: 6rem;
  justify-content: center;
  position: absolute;
  top: 295rem;
  left: 0;
  width: 100%;
}
.settlement .count div {
  width: 32rem;
  height: 50rem;
}
.settlement .count .dot {
  width: 7rem;
  background: url("../images/dot_result.png") no-repeat 0 0/100% 100%;
}
.settlement .count .people {
  width: 23rem;
  background: url("../images/people_result.png") no-repeat 0 0/100% 100%;
}
.settlement .count .count6 {
  background: url("../images/number_result1.png") no-repeat 0 0/100% 100%;
}
.settlement .count .count5 {
  background: url("../images/number_result0.png") no-repeat 0 0/100% 100%;
}
.settlement .count .count4 {
  background: url("../images/number_result3.png") no-repeat 0 0/100% 100%;
}
.settlement .count .count3 {
  background: url("../images/number_result0.png") no-repeat 0 0/100% 100%;
}
.settlement .count .count2 {
  background: url("../images/number_result1.png") no-repeat 0 0/100% 100%;
}
.settlement .count .count1 {
  background: url("../images/number_result6.png") no-repeat 0 0/100% 100%;
}
.settlement .bottom {
  background: #fff;
  border-radius: 24rem 24rem 0 0;
}
.settlement .bottom .earning {
  padding: 40rem 20rem 5rem;
}
.settlement .bottom .earning img {
  height: 26rem;
}
.settlement .bottom .summary {
  height: 17rem;
  margin: 0 20rem 15rem;
  padding: 0 16rem;
  background: url("../images/i.png") no-repeat 0 0/12rem 12rem;
  letter-spacing: -0.24rem;
  font-size: 12rem;
  color: #999;
}
.settlement .bottom .swiper_stock {
  overflow: hidden;
  height: 378rem;
  padding: 0 20rem;
  background: #fff;
}
.settlement .bottom .swiper_stock .swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36rem;
}
.settlement .bottom .swiper_stock .swiper-slide .logo img {
  width: 36rem;
  height: 36rem;
}
.settlement .bottom .swiper_stock .swiper-slide .name {
  flex: 1;
  padding-left: 12rem;
}
.settlement .bottom .swiper_stock .swiper-slide .rate {
  width: 88rem;
  text-align: right;
  color: #e22d72;
}
.settlement .bottom .examination {
  margin: 33rem 20rem 0;
  padding: 16rem 0 4rem;
  border-top: 1rem solid #eee;
  letter-spacing: -0.25rem;
  font-size: 10rem;
  color: #bbb;
}
.settlement .bottom .precautions {
  padding: 0 20rem 111rem;
  line-height: 16rem;
  letter-spacing: -0.25rem;
  font-size: 10rem;
  color: #bbb;
}
.settlement .bottom .precautions span {
  font-size: 10rem;
  color: #b43a6b;
}
.settlement .btn_bottom {
  position: fixed;
  bottom: 20rem;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 0 20rem;
  background: #fff;
  border-radius: 16rem 16rem 0 0;
  text-align: center;
}
.settlement .btn_bottom::before {
  content: "";
  position: absolute;
  top: -17rem;
  left: 0;
  width: 100%;
  height: 96rem;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4) 2%, rgba(255, 255, 255, 0.44) 4%, rgba(255, 255, 255, 0.6) 7%, rgba(255, 255, 255, 0.86) 15%, #fff);
}
.settlement .btn_bottom::after {
  content: "";
  position: absolute;
  top: 105rem;
  left: 0;
  width: 100%;
  height: 500rem;
  background: #fff;
}
.settlement .btn_bottom .btn_start {
  position: relative;
  z-index: 1;
}
.settlement .btn_bottom .btn_start::before {
  content: "";
  position: absolute;
  top: -25rem;
  left: calc(50% - 104rem);
  width: 208rem;
  height: 37rem;
  background: url("../images/balloon_coupon.png") no-repeat 0 0/100% 100%;
  pointer-events: none;
}
.settlement .btn_bottom .btn_start button img {
  width: 320rem;
  height: 56rem;
}
.settlement .btn_bottom .examination {
  padding: 20rem 0;
  text-align: center;
  font-size: 10rem;
  color: #bbb;
}