@charset "utf-8";
.wrap {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
}
.non_scroll {
    overflow: hidden;
    touch-action: none;
}

/* 본인확인 */
.certified_agree {
    padding: 0 20rem;
    background: none;
    .btn_close {
        margin: 0 -20rem;
        text-align: right;
        button {
            width: 64rem;
            height: 48rem;
            background: url('../images/icon_header_close.png') no-repeat center / 24rem 24rem;
            font-size: 0;
        }
    }
    .title {
        padding: 10rem 0 16rem;
        line-height: 28rem;
        font-weight: 700;
        font-size: 20rem;
        color: #222;
    }
    .term {
        padding-bottom: 94rem;
    }
    .guide {
        position: relative;
        margin-bottom: 56rem;
        padding: 20rem 20rem 20rem 30rem;
        background-color: #f7f8fa;
        border-radius: 20rem;
        line-height: 22rem;
        font-size: 14rem;
        color: #333;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 20rem;
            left: 10rem;
            width: 18rem;
            height: 18rem;
            background: url('../images/icon_light.png') no-repeat 0 0 / 18rem 18rem;
        }
    }
    .title_label {
        display: block;
        padding-bottom: 8rem;
        line-height: 19rem;
        font-size: 14rem;
        color: #888;
        &.pb2 {
            padding-bottom: 2rem;
        }
    }
    input[type="text"] {
        width: 100%;
        height: 42rem;
        margin-bottom: 40rem;
        padding: 0;
        border: 0;
        border-bottom: 1rem solid #ddd;
        line-height: 28rem;
        font-size: 20rem;
        color: #333;
        -webkit-appearance : none;
        -webkit-border-radius: 0;
        &::placeholder {
            color: #ccc;
        }
    }
    .phone {
        display: flex;
        gap: 10rem;
        .btn_phone_front {
            width: 80rem;
            height: 43rem;
            background: url('../images/icon_arrow.png') no-repeat right 8rem top 13rem / 16rem 16rem;
            border-bottom: 1rem solid #ddd;
            text-align: left;
            font-weight: 600;
            font-size: 20rem;
            color: #333;
        }
        input {
            flex: 1;
        }
        .btn_certified {
            width: 72rem;
            height: 42rem;
            border: 1rem solid #212266;
            border-radius: 12rem;
            line-height: 43rem;
            font-weight: 600;
            font-size: 0;
            color: #212266;
            &::after {
                content: '인증번호';
                font-size: 14rem;
            }
            &.re {
                border: 1rem solid #999;
                color: #333;
                &::after {
                    content: '재요청';
                }
            }
        }
    }
    .certified {
        position: relative;
        .count {
            position: absolute;
            top: 12rem;
            right: 0;
            line-height: 18rem;
            font-weight: 700;
            font-size: 14rem;
            color: #888;
        }
    }
    .title_caution {
        margin-bottom: 16rem;
        padding: 46rem 0 6rem;
        border-bottom: 1rem solid #ddd;
        line-height: 20rem;
        font-weight: 600;
        font-size: 16rem;
        color: #333;
    }
    .login_guide {
        table {
            width: 100%;
            border-bottom: 1rem solid #8a8a8a;
            margin-bottom: 5rem;
            th {
                font-weight: 400;
                background-color: #dee3ec;
                font-size: 12rem;
                color: #303030;
                padding: 8rem 10rem;
                text-align: left;
                border-top: 1rem solid #8a8a8a;
                width: 50%;
            }
            td {
                padding: 8rem 10rem;
                font-size: 12rem;
                color: #303030;
                text-align: left;
                border-top: 1rem solid #8a8a8a;
            }
        }
        .guide_info {
            padding-bottom: 8rem;
            li {
                position: relative;
                padding: 0 20rem 3rem 10rem;
                line-height: 16rem;
                font-size: 12rem;
                color: #666;
                &::before {
                    content: '';
                    position: absolute;
                    top: 6rem;
                    left: 5rem;
                    width: 3rem;
                    height: 3rem;
                    background-color: #bbb;
                    border-radius: 50%;
                }
            }
        }
    }
    .essential_wrap {
        margin-bottom: 16rem;
        border: 1rem solid #ddd;
        border-radius: 10rem;
        .radio {
            display: flex;
            gap: 54rem;
            input {
                display: none;
                &:checked {
                    +label {
                        &::before {
                            border: 1rem solid #212266;
                        }
                        &::after {
                            background-color: #212266;
                        }
                    }
                }
            }
            label {
                position: relative;
                line-height: 20rem;
                padding-left: 28rem;
                font-size: 16rem;
                color: #333;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20rem;
                    height: 20rem;
                    box-sizing: border-box;
                    border: 1rem solid #c7c7c7;
                    border-radius: 50%;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 5rem;
                    left: 5rem;
                    width: 10rem;
                    height: 10rem;
                    background-color: #eee;
                    border-radius: 50%;
                    box-sizing: border-box;
                }
            }
        }
        .title_wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16rem 20rem;
            border-bottom: 1rem solid #ddd;
            .title_essential {
                font-weight: 600;
                font-size: 14rem;
                color: #333;
            }
            .radio {
                display: flex;
                gap: 16rem;
                label {
                    position: relative;
                    line-height: 17rem;
                    padding-left: 22rem;
                    font-size: 12rem;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 16rem;
                        height: 16rem;
                        box-sizing: border-box;
                        border: 1rem solid #c7c7c7;
                        border-radius: 50%;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: 4rem;
                        left: 4rem;
                        width: 8rem;
                        height: 8rem;
                        box-sizing: border-box;
                        background-color: #eee;
                        border-radius: 50%;
                    }
                }
            }
        }
        .contents {
            padding: 16rem 20rem 25rem;
            .content {
                display: flex;
                gap: 8rem;
                padding-bottom: 26rem;
                .icon {
                    height: 20rem;
                    padding: 0 8rem;
                    background-color: #1998e9;
                    border-radius: 4rem;
                    line-height: 20rem;
                    font-size: 10rem;
                    color: #fff;
                }
                .text {
                    flex: 1;
                    font-size: 14rem;
                    line-height: 20rem;
                    color: #888;
                }
            }
        }
    }
    .grade_guide {
        margin-bottom: 40rem;
        padding: 20rem;
        border: 1rem solid #ddd;
        border-radius: 10rem;
        .title_guide {
            padding-bottom: 20rem;
            font-weight: 600;
            font-size: 14rem;
            color: #333;
        }
        .grade {
            display: flex;
            height: 33rem;
            margin-bottom: 16rem;
            li {
                width: 20%;
                text-align: center;
                line-height: 32rem;
                font-size: 12rem;
                color: #fff;
                &:nth-child(1) {
                    background: #1998e9;
                    border-radius: 32rem 0 0 32rem;
                }
                &:nth-child(2) {
                    background: #17db6b;
                    font-size: 11rem;
                }
                &:nth-child(3) {
                    background: #dec40d;
                }
                &:nth-child(4) {
                    background: #fb9527;
                }
                &:nth-child(5) {
                    background: #ea1600;
                    border-radius: 0 32rem 32rem 0;
                }
            }
        }
        .summary {
            font-size: 12rem;
            color: #888;
        }
    }
    .caution {
        padding-bottom: 8rem;
        li {
            position: relative;
            padding: 0 0 12rem 11rem;
            line-height: 16rem;
            font-size: 12rem;
            color: #666;
            &::before {
                content: "";
                position: absolute;
                top: 6rem;
                left: 0;
                width: 3rem;
                height: 3rem;
                background: #bbb;
                border-radius: 50%;
            }
            &.red {
                color: #bd527e;
            }
        }
    }
    .btn_ok {
        display: block;
        width: 100%;
        height: 54rem;
        margin: 20rem 0;
        background: #212266;
        border-radius: 16rem;
        font-size: 16rem;
        color: #fff;
        &:disabled {
            background: #eaeaf4;
            color: #a1a3c9;
        }
    }
    .btn_fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
        .btn_ok {
            width: calc(100% - 40rem);
            margin: 0 20rem 20rem;
        }
    }
}
.phone_front_layer {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    &.active {
        .popup_container {
            transform: translateY(0);
        }
    }
    .dim{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: rgba(68, 68, 68, 0.5);
        transition:all .5s ease-in-out;
    }
    .popup_container {
        position: fixed;
        bottom: 0;
        width: 100%;
        max-height: calc(100% - 68rem);
        padding: 0 20rem;
        border-radius: 16rem 16rem 0 0;
        transform: translateY(100%);
        transition: transform 0.5s ease;
        background: #fff;
        box-sizing: border-box;
        .btn_close {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            padding: 12rem 0 30rem;
            font-size: 0;
            &::before {
                content: "";
                width: 62rem;
                height: 04rem;
                border-radius: 30rem;
                background: #eee;
            }
        }
        .title {
            padding-bottom: 12rem;
            line-height: 28rem;
            font-weight: 600;
            font-size: 20rem;
            color: #222;
        }
        .selectbox {
            li {
                &.active {
                    button {
                        background: #f7f8fa;
                        color: #5178f2;
                    }
                }
                button {
                    width: 100%;
                    height: 51rem;
                    padding: 0 10rem;
                    border-radius: 8rem;
                    text-align: left;
                    font-size: 16rem;
                    color: #666;
                }
            }
        }
        .btn_ok {
            display: block;
            width: 100%;
            height: 54rem;
            margin: 20rem 0;
            background: #212266;
            border-radius: 16rem;
            font-size: 16rem;
            color: #fff;
        }
    }
}

/* popup */
.popup {
    position: fixed;
    bottom: 0;
    max-width: 640px;
    z-index: 99;
    &.none {
        display: none;
    }
    &.active {
        .dim {
            display: block;
        }
        & > .popup_container {
            transform: translateY(0%);
        }
    }
    &.full > .popup_container {
        top: 0;
        border-radius: 0;
        .con {
            padding: 0 20rem;
            overflow-y: auto;
            height: calc(100% - 90rem);
        }
    }
    &.bottomsheet > .popup_container {
        padding: 0 20rem;
    }
    .dim {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: calc(100% + 1rem);
        background-color: #333;
        opacity: 0.5;
        overscroll-behavior: none;
        transition: all .5s ease-in-out;
    }
    & > .popup_container {
        position: fixed;
        bottom: 0;
        width: 100%;
        min-height: 1rem;
        border-radius: 16rem 16rem 0 0;
        transform: translateY(105%);
        transition: transform 0.5s ease;
        background-color: #fff;
        overflow: hidden;
        box-sizing: border-box;
        .pop_header {
            display: flex;
            height: 84rem;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            h1 {
                font-weight: bold;
                font-size: 20rem;
            }
            .close {
                width: 25rem;
                height: 25rem;
                button {
                    display: block;
                    width: 100%;
                    height: 100%;
                    font-size: 0;
                    line-height: 0;
                    text-indent: -999rem;
                    background: url('../images/icon_header_close.png') no-repeat center center / 25rem 25rem;
                }
            }
        }
        .pop_body {
            .pop-scroll {
                overflow-y: auto;
                overscroll-behavior: none;
            }
            .agree_wrap {
                dt {
                    margin-bottom: 8rem;
                    font-weight: bold;
                    font-size: 18rem;
                    line-height: 24rem;
                    color: #333;
                }
                dd {
                    border: 1rem solid #ddd;
                    border-radius: 16rem;
                }
                .all_agree {
                    position: relative;
                    padding: 16rem;
                    border-bottom: 1rem solid #ddd;
                    input {
                        display: block;
                        position: absolute;
                        left: 16rem;
                        top: 16rem;
                        width: 24rem;
                        height: 24rem;
                        margin: 0;
                        background: url('../images/icon_check.png') no-repeat center left / 24rem 24rem;
                        appearance: none;
                        &:checked {
                            background-image: url('../images/icon_check_checked.png');
                        }
                        
                    }
                    label {
                        display: block;
                        padding-left: 32rem;
                        font-size: 13rem;
                        line-height: 24rem;
                        color: #333;
                    }
                }
                .agree_list {
                    padding: 20rem;
                    li {
                        position: relative;
                        & + li {
                            margin-top: 10rem;
                        }
                        input {
                            position: absolute;
                            left: 0;
                            top: 0;
                            clip: auto;
                            border: 0;
                            margin: 0;
                            appearance: none;
                            padding: 0;
                            width: 16rem;
                            height: 16rem;
                            background-repeat: no-repeat;
                            background-position: 0 0;
                            background-size: 16rem 16rem;
                            background-image: url('../images/icon_checkbox.png');
                            &:checked {
                                background-image: url('../images/icon_checkbox_checked.png');
                            }
                        }
                        label {
                            display: block;
                            padding: 0 15rem 0 21rem;
                            font-size: 13rem;
                            line-height: 18rem;
                            color: #333;
                            background: url('../images/icon_arrow_right2.png') no-repeat right center / 12rem 12rem;
                            span {
                                color: #b43a6b;
                                font-size: inherit;
                            }
                        }
                    }
                }
                dd + dt {
                    margin-top: 24rem;
                }
            }
        }
        .terms {
            .info {
                margin-bottom: 24rem;
                padding: 16rem;
                border-radius: 12rem;
                background-color: #f7f7f7;
                font-size: 14rem;
                line-height: 20rem;
                color: #666666;
            }
            .notice {
                &.no_bullet {
                    padding-bottom: 20rem;
                    .list_dot {
                        > li {
                            padding-left: 0;
                            &::before {
                                display: none;
                            }
                            .list_bar {
                                li {
                                    &::before {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
                & > dt {
                    margin: 24rem 0 16rem;
                    font-weight: bold;
                    font-size: 18rem;
                    color: #333;
                }
                ol {
                    & > li {
                        & + li {
                            margin-top: 24rem;
                        }
                        .tit {
                            margin-bottom: 14rem;
                            font-weight: bold;
                            font-size: 16rem;
                            line-height: 22rem;
                            color: #333;
                        }
                        .list_dot {
                            & > li {
                                position: relative;
                                padding-left: 11rem;
                                font-size: 14rem;
                                line-height: 20rem;
                                color: #333;
                                & + li {
                                    margin-top: 12rem;
                                }
                                &::before {
                                    opacity: 1;
                                }
                            }
                        }
                        .list_bar {
                            margin-top: 10rem;
                            li {
                                color: #333;
                                & + li {
                                    margin-top: 8rem;
                                }
                                &::before {
                                    width: 06rem;
                                    height: 1rem;
                                    border-radius: 0;
                                    top: 8rem;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
        .info {
            margin-bottom: 24rem;
            padding: 16rem;
            border-radius: 12rem;
            background-color: #f7f7f7;
            font-size: 14rem;
            line-height: 20rem;
            color: #666666;
        }
        .notice {
            padding-bottom: 20rem;
            dt {
                margin: 24rem 0 16rem;
                font-weight: bold;
                font-size: 18rem;
                color: #666666;
            }
            ol {
                li {
                    .tit {
                        margin-bottom: 14rem;
                        font-weight: bold;
                        font-size: 16rem;
                        line-height: 22rem;
                        color: #666666;
                    }
                    .list_dot {
                        li {
                            position: relative;
                            padding-left: 11rem;
                            font-size: 14rem;
                            line-height: 20rem;
                            color: #666666;
                            &::before {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 6rem;
                                left: 0;
                                width: 4rem;
                                height: 4rem;
                                border-radius: 50%;
                                background-color: #bbb;
                            }
                            & + li {
                                margin-top: 12rem;
                            }
                        }
                    }
                    & + li {
                        margin-top: 24rem;
                    }
                }
            }
        }
        .btn_wrap {
            position: fixed;
            width: 100%;
            bottom: 0;
            left: 0;
            padding: 30rem 0 20rem;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4) 2%, rgba(255, 255, 255, 0.44) 4%, rgba(255, 255, 255, 0.6) 7%, rgba(255, 255, 255, 0.86) 15%, #fff);
            button {
                position: relative;
                z-index: 10;
                display: block;
                width: calc(100% - 40rem);
                height: 56rem;
                margin: 0 auto;
                background-color: #bb1b39;
                border: 0;
                border-radius: 16rem;
                text-align: center;
                font-weight: 700;
                font-size: 16rem;
                color: #fff;
                &:disabled {
                    background-color: #bf8993;
                    color: #dec1c9;
                }
            }
        }
        .list_dot {
            li {
                position: relative;
                padding-left: 11rem;
                color :#333;
                font-size: 14rem;
                line-height: 19rem;
                & + li {
                    margin-top: 12rem;
                }
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    background-color: #bbb;
                    left: 0;
                    top: 7rem;
                }
            }
        }
    }

    /* 알림 서비스 동의 */
    &.popup_event {
        .popup_container {
            .pop_header {
                position: relative;
            }
            .pop_body {
                padding-bottom: 110rem;
                box-sizing: border-box;
            }
            .btn_wrap {
                button {
                    width: calc(100% - 40rem);
                }
            }
        }
    }

    /* 개인신용정보 수집·이용·제공 필수 동의서 */
    &.popup_agree {
        .pop_header {
            h1 {
                font-size: 16rem;
                letter-spacing: -1rem;
            }
        }
        .pop_content {
            padding: 0 0 10rem;
        }
        .pop_content + .pop_content {
            padding-top: 40rem;
        }
        h2 {
            margin: 0 0 2rem;
            font-weight: bold;
            font-size: 18rem;
            line-height: 24rem;
            color: #333;
        }
        h3 {
            font-weight: bold;
            font-size: 16rem;
            line-height: 24rem;
            color: #333;
            & + p {
                margin-top: 16rem;
                font-size: 600px;
                font-size: 13rem;
                line-height: 20rem;
                color: #666;
                & + h4 {
                    margin-top: 32rem;
                }
            }
        }
        h4 {
            display: inline-flex;
            height: 32rem;
            align-items: center;
            justify-content: center;
            gap: 6rem;
            margin-bottom: 16rem;
            padding: 0 16rem 0 8rem;
            border-radius: 16rem;
            background-color: #ecf2fc;
            font-weight: 600;
            font-size: 14rem;
            color: #212266;
            line-height: 20rem;
            span {
                display: inline-block;
                width: 20rem;
                height: 20rem;
                background-color: #212266;
                color: #ecf2fc;
                font-weight: 600;
                font-size: inherit;
                line-height: 20rem;
                text-align: center;
                border-radius: 50%;
            }
        }
        h5 {
            margin: 32rem 0 12rem;
            font-weight: bold;
            font-size: 16rem;
            line-height: 24rem;
            color: #333;
        }
        .tbl_collect {
            width: 100%;
            tr > * {
                padding: 12rem;
                font-weight: 600;
                font-size: 13rem;
                line-height: 18rem;
            }
            th {
                background-color: #f5f5f5;
                color: #333;
                border-radius: 6rem;
                border: 2rem solid #fff;
                text-align: left;
            }
            td {
                vertical-align: middle;
                color: #666;
                & > * {
                    display: block;
                    font-size: inherit;
                    color: inherit;
                }
                .tit {
                    margin-bottom: 4rem;
                    font-weight: bold;
                    color: #333;
                }
                .noti {
                    margin-top: 8rem;
                }
            }
        }
    }
}

/* 이벤트 조기종료 안내 팝업 */
.info_popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    .dim {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }
    .wrap {
        width: 320rem;
        padding: 20rem;
        background: #fff;
        border-radius: 24rem;
        text-align: center;
        .title {
            padding: 22rem 0 20rem;
            font-weight: 700;
            font-size: 26rem;
            color: #000;
        }
        .soldout {
            padding-bottom: 20rem;
            img {
                width: 100%;
            }
        }
        .text {
            padding-bottom: 10rem;
            line-height: 24rem;
            font-size: 16rem;
            color: #333;
            span {
                font-size: 16rem;
                color: #b43a6b;
            }
        }
        button {
            width: 100%;
            height: 56rem;
            margin-top: 12rem;
            background: #212266;
            border-radius: 16rem;
            font-size: 16rem;
            color: #fff;
        }
    }
}

/* intro */
.intro_wrap {
    position: relative;
    height: 100vh;
    font-size: 0;
    text-align: center;
    overflow: hidden;
    background-size: cover !important;
    img {
        max-width: 100%;
    }
    &.bg_type1 {
        background: url("../images/bg_intro_type1.png") no-repeat 0 0 / 100% 100%, url("../images/bg_intro_type2.png") no-repeat 0 0 / 100% 100%;
    }
    &.bg_type2 {
        background: url("../images/bg_intro_type2.png") no-repeat 0 0 / 100% 100%;
    }
    .page_in {
        animation: pageIn 0.1s linear 0s forwards;
    }
    .page_out {
        animation: pageOut 0.3s linear 0s forwards;
    }
    .section {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 640px;
        height: 100vh; 
        font-size: 0;
        text-align: center;
        opacity: 0;
        z-index: 1;
        &:before {
            display: inline-block;
            width: 0;
            height: 100%;
            content: '';
            vertical-align: middle;
        }
        .section_inner {
            display:inline-block;
            position: relative;
            width: 100%;
            vertical-align: middle;
            .title { 
                padding: 0 18rem;
                position: relative;
                animation: titleIn 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s alternate both;
                animation-play-state: paused;
            }
        }
        &.page_in {
            .keyframe_sec {
                animation-play-state: running !important;
            }
        }
    }
    .section1 {
        .logo {
            padding: 49rem 68rem 0;
            animation: logoIn 0.5s linear 0s forwards;
        }
        .star_box {
            margin: -15rem 0 0 21rem;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            .star {
                opacity: 0;
                position: absolute;
                width: 30rem;
                height: 30rem;
                &.star1 {
                    top: 0;
                    left: 20rem;
                    animation: section1_star 1.5s linear 0.5s infinite;
                }
                &.star2 {
                    top: 20rem;
                    left: 0;
                    animation: section1_star 1.5s linear 0.8s infinite;
                }
                &.star3 {
                    top: 30rem;
                    left: 30rem;
                    animation: section1_star 1.5s linear 1.1s infinite;
                }
            }
        }
    }
    .section2 {
        .title {
            .t1 {
                animation: titleOut 0.1s linear 3.5s alternate forwards;
                animation-play-state: paused;
            }
            .t2 {
                margin-top: -70rem;
                position: relative;
                opacity: 0;
                animation: titleIn 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3.5s alternate forwards;
                animation-play-state: paused;
            }
        }
        .mode_type_text {
            margin: 18rem 0 20rem;
            position: relative;
            height: 0;
            opacity: 0;
            animation: titleIn 0.3s ease-in 3.5s forwards;
            animation-play-state: paused;
            .text {
                position: relative;
                height: 18rem;
                img {
                    height: 18rem;
                }
                .t1 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                }
            }
        }
        .main_screen { 
            margin-top: 40rem;
            position: relative;
            perspective: 1000px;
            .screen_box {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 1;
                animation: screenBoxOut 0.5s linear 6.5s forwards;
                img {
                    width: 110rem;
                }
                .screen1 {
                    position: relative;
                    opacity: 0;
                    animation: screen1 1s linear 0s forwards;
                    animation-play-state: paused;
                }
                .screen2 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    opacity: 0;
                    transform:scale(2);
                    transform-origin:0% 118%;
                    animation: screen2 5s ease-in 0.2s forwards;
                    animation-play-state: paused;
                }
                .screen3 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    opacity: 0;
                    transform:scale(2);
                    transform-origin:18% -95%;
                    animation: screen3 5s ease-in 0.4s forwards;
                    animation-play-state: paused;
                }
                .screen4 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    opacity: 0;
                    transform:scale(2);
                    transform-origin:77% -95%;
                    animation: screen4 5s linear 0.6s forwards;
                    animation-play-state: paused;
                }
                .screen5 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    opacity: 0;
                    transform:scale(2);
                    transform-origin:100% -42%;
                    animation: screen5 5s linear 0.8s forwards;
                    animation-play-state: paused;
                }
                .screen6 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    opacity: 0;
                    transform:scale(2);
                    transform-origin:100% 65%;
                    animation: screen6 5s linear 1s forwards;
                    animation-play-state: paused;
                }
            }
            .mode_screen_wrap {
                position: relative;
                opacity: 0;
                animation: modeScreenIn 0.3s linear 5s forwards;
            }
            .mode_screen {
                margin: 0 auto;
                position: relative;
                width: 110rem;
                height: 220rem;
                overflow: hidden;
                box-shadow: 0 0 0 2px #496097;
                border-radius: 16rem;
                animation: screenScaleUp 0.5s linear 3.5s forwards;
                animation-play-state: paused;
                perspective-origin: center;
                transform-style: preserve-3d;
                .simple_screen {
                    margin: 0 auto;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 110rem;
                    height: 220rem;
                    background: url("../images/img_easy_screen.png") no-repeat 0 0 / 100% 100%;
                    animation: screenScaleUp 0.5s linear 3.5s forwards;
                    animation-play-state: paused;
                    backface-visibility: hidden;
                    z-index: 1;
                }
                .fade_screen {
                    margin: 0 auto;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 110rem;
                    height: 100%;
                    border-radius: 15rem;
                    background: #0f1063;
                    animation: screenScaleUp 0.5s linear 3.5s forwards, screenBoxOut 0.3s linear 4s forwards;
                    animation-play-state: paused;
                    z-index: 2;
                    .logo {
                        margin: -37rem 0 0 -37rem;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 74rem;
                        height: 74rem;
                        background: url("../images/img_mode_screen_logo.png") no-repeat 0 0 / 100% 100%;
                        animation: logoScaleUp 0.5s linear 3.5s forwards;
                        animation-play-state: paused;
                    }
                }
            }
        }
    }
}
@keyframes pageIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes pageOut {
    0% {
        opacity: 1;
        top: 0;
    }
    100% {
        opacity: 0;
        top: -50%;
    }
}
@keyframes titleIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes titleOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50%);
    }
}
@keyframes logoIn {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes section1_star {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    25% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(0.5);
    }
    75% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0.5;
        transform: scale(0.5);
    }
}
@keyframes screen1 {
    0% {
        opacity: 0.7;
        transform: scale(0.5);
        transform: translateY(100px);
    }
    100% {  
        opacity: 1;
        transform: scale(1);
        transform: translateY(0);
    }
}
@keyframes screen2 {
    0% {
        opacity: 0.9;
        transform: scale(1.5);
        transform-origin:0% 118%;
    }
    30% {  
        opacity: 1;
        transform: scale(1);
        transform-origin:50% 50%;
    }
    100% {  
        opacity: 1;
        transform: scale(1);
        transform-origin:50% 50%;
    }
}
@keyframes screen3 {
    0% {
        opacity: 0.9;
        transform: scale(1.5);
        transform-origin:18% -95%;
    }
    30% {  
        opacity: 1;
        transform: scale(1);
        transform-origin:50% 50%;
    }
    100% {  
        opacity: 1;
        transform: scale(1);
        transform-origin:50% 50%;
    }
}
@keyframes screen4 {
    0% {
        opacity: 0.9;
        transform: scale(1.5);
        transform-origin:77% -95%;
    }
    30% {  
        opacity: 1;
        transform: scale(1);
        transform-origin:50% 50%;
    }
    100% {  
        opacity: 1;
        transform: scale(1);
        transform-origin:50% 50%;
    }
}
@keyframes screen5 {
    0% {
        opacity: 0.9;
        transform: scale(1.5);
        transform-origin:100% 100%;
    }
    30% {  
        opacity: 1;
        transform: scale(1);
        transform-origin:50% 50%;
    }
    100% {  
        opacity: 1;
        transform: scale(1);
        transform-origin:50% 50%;
    }
}
@keyframes screen6 {
    0% {
        opacity: 0.9;
        transform: scale(1.5);
        transform-origin:100% 130%;
    }
    30% {  
        opacity: 1;
        transform: scale(1);
        transform-origin:100% 130%;
    }
    100% {  
        opacity: 1;
        transform: scale(1);
        transform-origin:50% 50%;
    }
}
@keyframes modeScreenIn {
    0% {
        opacity: 0;
        z-index: 2;
    }
    100% {  
        opacity: 1;
        z-index: 2;
    }
}
@keyframes screenBoxOut {
    0% {
        opacity: 1;
    }
    100% {  
        opacity: 0;
    }
}
@keyframes screenScaleUp {
    0% {
        width: 110rem;
        height: 220rem;
        border-radius: 16rem;
    }
    100% {  
        width: 186rem;
        height: 376rem;
        overflow: visible;
        border-radius: 16rem;
        box-shadow: 0 0 0 0px #496097;
    }
}
@keyframes logoScaleUp {
    0% {
        width: 74rem;
        height: 74rem;
        margin: -37rem 0 0 -37rem;
    }
    100% {  
        width: 124rem;
        height: 124rem;
        margin: -62rem 0 0 -62rem;
    }
}

/* 게임 메인 */
.main {
    padding-top: 60rem;
    text-align: center;
    .text_event1 {
        padding-bottom: 24rem;
        img {
            width: 248rem;
            height: 194rem;
        }
    }
    .img_event1 {
        padding-bottom: 60rem;
        img {
            width: 292rem;
            height: 262rem;
        }
    }
    .text_event2 {
        padding-bottom: 24rem;
        img {
            width: 234rem;
            height: 220rem;
        }
    }
    .img_event2 {
        padding-bottom: 60rem;
        img {
            width: 292rem;
            height: 232rem;
        }
    }
    .swiper_wrap {
        height: 560rem;
        background-image: linear-gradient(to bottom, #f4ecff, #fff);
        .title_easymode_swiper {
            padding: 60rem 0 5rem;
            img {
                width: 231rem;
                height: 68rem;
            }
        }
        .swiper_easymode {
            overflow: hidden;
            .swiper-slide {
                width: 306rem;
                margin: 0 -9rem;
                img {
                    width: 100%;
                }
            }
            .swiper-pagination {
                position: relative;
                .swiper-pagination-bullet {
                    width: 6rem;
                    height: 6rem;
                    margin: 0 3rem;
                    background: #cac9c7;
                    border-radius: 20rem;
                    opacity: 1;
                    &.swiper-pagination-bullet-active {
                        width: 20rem;
                        background: #7d3bdd;
                    }
                }
            }
        }
    }
    .notice_wrap {
        padding: 0 16rem 110rem;
        background: #f7f7f7;
        text-align: left;
        .notice {
            dt {
                padding: 38rem 0 16rem;
                font-size: 14rem;
                font-weight: 600;
                line-height: 19rem;
                color: #222;
            }
            li {
                position: relative;
                padding-left: 8rem;
                font-size: 12rem;
                line-height: 18rem;
                color: #666;
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    background: #666;
                    left: 0;
                    top: 8rem;
                }
                & + li {
                    margin-top: 8rem;
                }
                &.red {
                    color: #ff2c9c;
                }
            }
        }
        .footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 48rem;
            margin-top: 40rem;
            border-top: 1rem solid #ccc;
            .logo {
                width: 58rem;
                height: 18rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            p {
                font-size: 11rem;
                line-height: 13rem;
                text-align: right;
                color: #666;
            }
        }
    }
    .btn_get {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        padding-bottom: 24rem;
        text-align: center;
        line-height: 0;
        button {
            line-height: 0;
            img {
                width: 312rem;
                height: 60rem;
            }
        }
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 24rem;
        left: 0;
        width: 100%;
        padding: 0 18rem 0 24rem;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
        h1 {
            width: 64rem;
            height: 19rem;
        }
        .share {
            width: 26rem;
            height: 26rem;
        }
    }
}

/* 게임 */
.wrap header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 20rem 20rem 0;
    h1 {
        line-height: 0;
        img {
            width: 200rem;
            height: 24rem;
        }
    }
    .btn_close {
        line-height: 0;
        img {
            height: 24rem;
        }
    }
}

.test {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100px;
    height: 100px;
    perspective: 500px;
    /* animation: test 1s linear infinite; */
    @keyframes test {
        100% {
            z-index: 0;
        }
    }
    div {
        width: 100%;
        height: 100%;
        background: url("../images/line.png") no-repeat 0 0 / 100% 100%;
        transform: perspective(500px) rotateX(0deg);
        /* animation: div 1s linear infinite; */
        @keyframes div {
            100% {
                transform: perspective(500px) rotateX(-360deg);
            }
        }
    }
}
.human {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 50px;
    height: 50px;
    background: yellow;
}
.btn {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100px;
    height: 100px;
    background: green;
}

.experience {
    min-height: 100vh;
    background: #16042e url("../images/bg_experience_type1.png") no-repeat 0 0 / 100% auto;
    text-align: center;
    .btn_close {
        position: absolute;
        top: 24rem;
        right: 24rem;
        img {
            width: 24rem;
            height: 24rem;
        }
    }
    .list {
        /* &::after {
            content: "";
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 237rem;
            background-image: linear-gradient(to bottom, rgba(27, 9, 54, 0) 4%, #230b45 50%);
        } */
        li {
            display: none;
            &:first-child {
                display: block;
            }
            .mockup {
                img {
                    width: 360rem;
                    height: 650rem;
                }
            }
            .btn1 {
                position: absolute;
                top: 190rem;
                left: 98rem;
                width: 156rem;
                height: 80rem;
                overflow: hidden;
                border-radius: 23rem;
                &::before {
                    content: "";
                    position: absolute;
                    top: -50%;
                    left: -50%;
                    width: 300rem;
                    height: 300rem;
                    background: linear-gradient(130deg, #6ee6ff 8%, #a851ff 52%, #f72c99 94%);
                    border-radius: 20rem;
                    animation: rotate 1s linear infinite;
                    @keyframes rotate {
                        100% {
                            transform: rotate(360deg);
                        }
                    }
                }
                img {
                    position: relative;
                    width: 148rem;
                    height: 72rem;
                }
            }
            .title_step3 {
                padding: 80rem 0 50rem;
                img {
                    width: 245rem;
                    height: 157rem;
                }
            }
            .img_step3 {
                img {
                    width: 292rem;
                    height: 204rem;
                }
            }
            .text_guide {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                line-height: 0;
                img {
                    width: 100%;
                    height: 237rem;
                }
            }
            .bubble_friend {
                position: fixed;
                bottom: 88rem;
                left: 0;
                width: 100%;
                img {
                    width: 198rem;
                    height: 60rem;
                }
            }
            .btn_bottom {
                position: fixed;
                bottom: 24rem;
                left: 0;
                width: 100%;
                img {
                    width: 312rem;
                    height: 60rem;
                }
            }
        }
    }
}