@charset "utf-8";
.wrap {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
}
.non_scroll {
    overflow: hidden;
    touch-action: none;
}

/* 본인확인 */
.certified_agree {
    padding: 0 20rem;
    background: none;
    .btn_close {
        margin: 0 -20rem;
        text-align: right;
        button {
            width: 64rem;
            height: 48rem;
            background: url('../images/icon_header_close.png') no-repeat center / 24rem 24rem;
            font-size: 0;
        }
    }
    .title {
        padding: 10rem 0 16rem;
        line-height: 28rem;
        font-weight: 700;
        font-size: 20rem;
        color: #222;
    }
    .term {
        padding-bottom: 94rem;
    }
    .guide {
        position: relative;
        margin-bottom: 56rem;
        padding: 20rem 20rem 20rem 30rem;
        background-color: #f7f8fa;
        border-radius: 20rem;
        line-height: 22rem;
        font-size: 14rem;
        color: #333;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 20rem;
            left: 10rem;
            width: 18rem;
            height: 18rem;
            background: url('../images/icon_light.png') no-repeat 0 0 / 18rem 18rem;
        }
    }
    .title_label {
        display: block;
        padding-bottom: 8rem;
        line-height: 19rem;
        font-size: 14rem;
        color: #888;
        &.pb2 {
            padding-bottom: 2rem;
        }
    }
    input[type="text"] {
        width: 100%;
        height: 42rem;
        margin-bottom: 40rem;
        padding: 0;
        border: 0;
        border-bottom: 1rem solid #ddd;
        line-height: 28rem;
        font-size: 20rem;
        color: #333;
        -webkit-appearance : none;
        -webkit-border-radius: 0;
        &::placeholder {
            color: #ccc;
        }
    }
    .phone {
        display: flex;
        gap: 10rem;
        .btn_phone_front {
            width: 80rem;
            height: 43rem;
            background: url('../images/icon_arrow.png') no-repeat right 8rem top 13rem / 16rem 16rem;
            border-bottom: 1rem solid #ddd;
            text-align: left;
            font-weight: 600;
            font-size: 20rem;
            color: #333;
        }
        input {
            flex: 1;
        }
        .btn_certified {
            width: 72rem;
            height: 42rem;
            border: 1rem solid #212266;
            border-radius: 12rem;
            line-height: 43rem;
            font-weight: 600;
            font-size: 0;
            color: #212266;
            &::after {
                content: '인증번호';
                font-size: 14rem;
            }
            &.re {
                border: 1rem solid #999;
                color: #333;
                &::after {
                    content: '재요청';
                }
            }
        }
    }
    .certified {
        position: relative;
        .count {
            position: absolute;
            top: 12rem;
            right: 0;
            line-height: 18rem;
            font-weight: 700;
            font-size: 14rem;
            color: #888;
        }
    }
    .title_caution {
        margin-bottom: 16rem;
        padding: 46rem 0 6rem;
        border-bottom: 1rem solid #ddd;
        line-height: 20rem;
        font-weight: 600;
        font-size: 16rem;
        color: #333;
    }
    .login_guide {
        table {
            width: 100%;
            border-bottom: 1rem solid #8a8a8a;
            margin-bottom: 5rem;
            th {
                font-weight: 400;
                background-color: #dee3ec;
                font-size: 12rem;
                color: #303030;
                padding: 8rem 10rem;
                text-align: left;
                border-top: 1rem solid #8a8a8a;
                width: 50%;
            }
            td {
                padding: 8rem 10rem;
                font-size: 12rem;
                color: #303030;
                text-align: left;
                border-top: 1rem solid #8a8a8a;
            }
        }
        .guide_info {
            padding-bottom: 8rem;
            li {
                position: relative;
                padding: 0 20rem 3rem 10rem;
                line-height: 16rem;
                font-size: 12rem;
                color: #666;
                &::before {
                    content: '';
                    position: absolute;
                    top: 6rem;
                    left: 5rem;
                    width: 3rem;
                    height: 3rem;
                    background-color: #bbb;
                    border-radius: 50%;
                }
            }
        }
    }
    .essential_wrap {
        margin-bottom: 16rem;
        border: 1rem solid #ddd;
        border-radius: 10rem;
        .radio {
            display: flex;
            gap: 54rem;
            input {
                display: none;
                &:checked {
                    +label {
                        &::before {
                            border: 1rem solid #212266;
                        }
                        &::after {
                            background-color: #212266;
                        }
                    }
                }
            }
            label {
                position: relative;
                line-height: 20rem;
                padding-left: 28rem;
                font-size: 16rem;
                color: #333;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20rem;
                    height: 20rem;
                    box-sizing: border-box;
                    border: 1rem solid #c7c7c7;
                    border-radius: 50%;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 5rem;
                    left: 5rem;
                    width: 10rem;
                    height: 10rem;
                    background-color: #eee;
                    border-radius: 50%;
                    box-sizing: border-box;
                }
            }
        }
        .title_wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16rem 20rem;
            border-bottom: 1rem solid #ddd;
            .title_essential {
                font-weight: 600;
                font-size: 14rem;
                color: #333;
            }
            .radio {
                display: flex;
                gap: 16rem;
                label {
                    position: relative;
                    line-height: 17rem;
                    padding-left: 22rem;
                    font-size: 12rem;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 16rem;
                        height: 16rem;
                        box-sizing: border-box;
                        border: 1rem solid #c7c7c7;
                        border-radius: 50%;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: 4rem;
                        left: 4rem;
                        width: 8rem;
                        height: 8rem;
                        box-sizing: border-box;
                        background-color: #eee;
                        border-radius: 50%;
                    }
                }
            }
        }
        .contents {
            padding: 16rem 20rem 25rem;
            .content {
                display: flex;
                gap: 8rem;
                padding-bottom: 26rem;
                .icon {
                    height: 20rem;
                    padding: 0 8rem;
                    background-color: #1998e9;
                    border-radius: 4rem;
                    line-height: 20rem;
                    font-size: 10rem;
                    color: #fff;
                }
                .text {
                    flex: 1;
                    font-size: 14rem;
                    line-height: 20rem;
                    color: #888;
                }
            }
        }
    }
    .grade_guide {
        margin-bottom: 40rem;
        padding: 20rem;
        border: 1rem solid #ddd;
        border-radius: 10rem;
        .title_guide {
            padding-bottom: 20rem;
            font-weight: 600;
            font-size: 14rem;
            color: #333;
        }
        .grade {
            display: flex;
            height: 33rem;
            margin-bottom: 16rem;
            li {
                width: 20%;
                text-align: center;
                line-height: 32rem;
                font-size: 12rem;
                color: #fff;
                &:nth-child(1) {
                    background: #1998e9;
                    border-radius: 32rem 0 0 32rem;
                }
                &:nth-child(2) {
                    background: #17db6b;
                    font-size: 11rem;
                }
                &:nth-child(3) {
                    background: #dec40d;
                }
                &:nth-child(4) {
                    background: #fb9527;
                }
                &:nth-child(5) {
                    background: #ea1600;
                    border-radius: 0 32rem 32rem 0;
                }
            }
        }
        .summary {
            font-size: 12rem;
            color: #888;
        }
    }
    .caution {
        padding-bottom: 8rem;
        li {
            position: relative;
            padding: 0 0 12rem 11rem;
            line-height: 16rem;
            font-size: 12rem;
            color: #666;
            &::before {
                content: "";
                position: absolute;
                top: 6rem;
                left: 0;
                width: 3rem;
                height: 3rem;
                background: #bbb;
                border-radius: 50%;
            }
            &.red {
                color: #bd527e;
            }
        }
    }
    .btn_ok {
        display: block;
        width: 100%;
        height: 54rem;
        margin: 20rem 0;
        background: #212266;
        border-radius: 16rem;
        font-size: 16rem;
        color: #fff;
        &:disabled {
            background: #eaeaf4;
            color: #a1a3c9;
        }
    }
    .btn_fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
        .btn_ok {
            width: calc(100% - 40rem);
            margin: 0 20rem 20rem;
        }
    }
}
.phone_front_layer {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    &.active {
        .popup_container {
            transform: translateY(0);
        }
    }
    .dim{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: rgba(68, 68, 68, 0.5);
        transition:all .5s ease-in-out;
    }
    .popup_container {
        position: fixed;
        bottom: 0;
        width: 100%;
        max-height: calc(100% - 68rem);
        padding: 0 20rem;
        border-radius: 16rem 16rem 0 0;
        transform: translateY(100%);
        transition: transform 0.5s ease;
        background: #fff;
        box-sizing: border-box;
        .btn_close {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            padding: 12rem 0 30rem;
            font-size: 0;
            &::before {
                content: "";
                width: 62rem;
                height: 04rem;
                border-radius: 30rem;
                background: #eee;
            }
        }
        .title {
            padding-bottom: 12rem;
            line-height: 28rem;
            font-weight: 600;
            font-size: 20rem;
            color: #222;
        }
        .selectbox {
            li {
                &.active {
                    button {
                        background: #f7f8fa;
                        color: #5178f2;
                    }
                }
                button {
                    width: 100%;
                    height: 51rem;
                    padding: 0 10rem;
                    border-radius: 8rem;
                    text-align: left;
                    font-size: 16rem;
                    color: #666;
                }
            }
        }
        .btn_ok {
            display: block;
            width: 100%;
            height: 54rem;
            margin: 20rem 0;
            background: #212266;
            border-radius: 16rem;
            font-size: 16rem;
            color: #fff;
        }
    }
}

/* popup */
.popup {
    position: fixed;
    bottom: 0;
    max-width: 640px;
    z-index: 99;
    &.none {
        display: none;
    }
    &.active {
        .dim {
            display: block;
        }
        & > .popup_container {
            transform: translateY(0%);
        }
    }
    &.full > .popup_container {
        top: 0;
        border-radius: 0;
        .con {
            padding: 0 20rem;
            overflow-y: auto;
            height: calc(100% - 90rem);
        }
    }
    &.bottomsheet > .popup_container {
        padding: 0 20rem;
    }
    .dim {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: calc(100% + 1rem);
        background-color: #333;
        opacity: 0.5;
        overscroll-behavior: none;
        transition: all .5s ease-in-out;
    }
    & > .popup_container {
        position: fixed;
        bottom: 0;
        width: 100%;
        min-height: 1rem;
        border-radius: 16rem 16rem 0 0;
        transform: translateY(105%);
        transition: transform 0.5s ease;
        background-color: #fff;
        overflow: hidden;
        box-sizing: border-box;
        .pop_header {
            display: flex;
            height: 84rem;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            h1 {
                font-weight: bold;
                font-size: 20rem;
            }
            .close {
                width: 25rem;
                height: 25rem;
                button {
                    display: block;
                    width: 100%;
                    height: 100%;
                    font-size: 0;
                    line-height: 0;
                    text-indent: -999rem;
                    background: url('../images/icon_header_close.png') no-repeat center center / 25rem 25rem;
                }
            }
        }
        .pop_body {
            .pop-scroll {
                overflow-y: auto;
                overscroll-behavior: none;
            }
            .agree_wrap {
                dt {
                    margin-bottom: 8rem;
                    font-weight: bold;
                    font-size: 18rem;
                    line-height: 24rem;
                    color: #333;
                }
                dd {
                    border: 1rem solid #ddd;
                    border-radius: 16rem;
                }
                .all_agree {
                    position: relative;
                    padding: 16rem;
                    border-bottom: 1rem solid #ddd;
                    input {
                        display: block;
                        position: absolute;
                        left: 16rem;
                        top: 16rem;
                        width: 24rem;
                        height: 24rem;
                        margin: 0;
                        background: url('../images/icon_check.png') no-repeat center left / 24rem 24rem;
                        appearance: none;
                        &:checked {
                            background-image: url('../images/icon_check_checked.png');
                        }
                        
                    }
                    label {
                        display: block;
                        padding-left: 32rem;
                        font-size: 13rem;
                        line-height: 24rem;
                        color: #333;
                    }
                }
                .agree_list {
                    padding: 20rem;
                    li {
                        position: relative;
                        & + li {
                            margin-top: 10rem;
                        }
                        input {
                            position: absolute;
                            left: 0;
                            top: 0;
                            clip: auto;
                            border: 0;
                            margin: 0;
                            appearance: none;
                            padding: 0;
                            width: 16rem;
                            height: 16rem;
                            background-repeat: no-repeat;
                            background-position: 0 0;
                            background-size: 16rem 16rem;
                            background-image: url('../images/icon_checkbox.png');
                            &:checked {
                                background-image: url('../images/icon_checkbox_checked.png');
                            }
                        }
                        label {
                            display: block;
                            padding: 0 15rem 0 21rem;
                            font-size: 13rem;
                            line-height: 18rem;
                            color: #333;
                            background: url('../images/icon_arrow_right2.png') no-repeat right center / 12rem 12rem;
                            span {
                                color: #b43a6b;
                                font-size: inherit;
                            }
                        }
                    }
                }
                dd + dt {
                    margin-top: 24rem;
                }
            }
        }
        .terms {
            .info {
                margin-bottom: 24rem;
                padding: 16rem;
                border-radius: 12rem;
                background-color: #f7f7f7;
                font-size: 14rem;
                line-height: 20rem;
                color: #666666;
            }
            .notice {
                &.no_bullet {
                    padding-bottom: 20rem;
                    .list_dot {
                        > li {
                            padding-left: 0;
                            &::before {
                                display: none;
                            }
                            .list_bar {
                                li {
                                    &::before {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
                & > dt {
                    margin: 24rem 0 16rem;
                    font-weight: bold;
                    font-size: 18rem;
                    color: #333;
                }
                ol {
                    & > li {
                        & + li {
                            margin-top: 24rem;
                        }
                        .tit {
                            margin-bottom: 14rem;
                            font-weight: bold;
                            font-size: 16rem;
                            line-height: 22rem;
                            color: #333;
                        }
                        .list_dot {
                            & > li {
                                position: relative;
                                padding-left: 11rem;
                                font-size: 14rem;
                                line-height: 20rem;
                                color: #333;
                                & + li {
                                    margin-top: 12rem;
                                }
                                &::before {
                                    opacity: 1;
                                }
                            }
                        }
                        .list_bar {
                            margin-top: 10rem;
                            li {
                                color: #333;
                                & + li {
                                    margin-top: 8rem;
                                }
                                &::before {
                                    width: 06rem;
                                    height: 1rem;
                                    border-radius: 0;
                                    top: 8rem;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
        .info {
            margin-bottom: 24rem;
            padding: 16rem;
            border-radius: 12rem;
            background-color: #f7f7f7;
            font-size: 14rem;
            line-height: 20rem;
            color: #666666;
        }
        .notice {
            padding-bottom: 20rem;
            dt {
                margin: 24rem 0 16rem;
                font-weight: bold;
                font-size: 18rem;
                color: #666666;
            }
            ol {
                li {
                    .tit {
                        margin-bottom: 14rem;
                        font-weight: bold;
                        font-size: 16rem;
                        line-height: 22rem;
                        color: #666666;
                    }
                    .list_dot {
                        li {
                            position: relative;
                            padding-left: 11rem;
                            font-size: 14rem;
                            line-height: 20rem;
                            color: #666666;
                            &::before {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 6rem;
                                left: 0;
                                width: 4rem;
                                height: 4rem;
                                border-radius: 50%;
                                background-color: #bbb;
                            }
                            & + li {
                                margin-top: 12rem;
                            }
                        }
                    }
                    & + li {
                        margin-top: 24rem;
                    }
                }
            }
        }
        .btn_wrap {
            position: fixed;
            width: 100%;
            bottom: 0;
            left: 0;
            padding: 30rem 0 20rem;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4) 2%, rgba(255, 255, 255, 0.44) 4%, rgba(255, 255, 255, 0.6) 7%, rgba(255, 255, 255, 0.86) 15%, #fff);
            button {
                position: relative;
                z-index: 10;
                display: block;
                width: calc(100% - 40rem);
                height: 56rem;
                margin: 0 auto;
                background-color: #bb1b39;
                border: 0;
                border-radius: 16rem;
                text-align: center;
                font-weight: 700;
                font-size: 16rem;
                color: #fff;
                &:disabled {
                    background-color: #bf8993;
                    color: #dec1c9;
                }
            }
        }
        .list_dot {
            li {
                position: relative;
                padding-left: 11rem;
                color :#333;
                font-size: 14rem;
                line-height: 19rem;
                & + li {
                    margin-top: 12rem;
                }
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    background-color: #bbb;
                    left: 0;
                    top: 7rem;
                }
            }
        }
    }

    /* 알림 서비스 동의 */
    &.popup_event {
        .popup_container {
            .pop_header {
                position: relative;
            }
            .pop_body {
                padding-bottom: 110rem;
                box-sizing: border-box;
            }
            .btn_wrap {
                button {
                    width: calc(100% - 40rem);
                }
            }
        }
    }

    /* 개인신용정보 수집·이용·제공 필수 동의서 */
    &.popup_agree {
        .pop_header {
            h1 {
                font-size: 16rem;
                letter-spacing: -1rem;
            }
        }
        .pop_content {
            padding: 0 0 10rem;
        }
        .pop_content + .pop_content {
            padding-top: 40rem;
        }
        h2 {
            margin: 0 0 2rem;
            font-weight: bold;
            font-size: 18rem;
            line-height: 24rem;
            color: #333;
        }
        h3 {
            font-weight: bold;
            font-size: 16rem;
            line-height: 24rem;
            color: #333;
            & + p {
                margin-top: 16rem;
                font-size: 600px;
                font-size: 13rem;
                line-height: 20rem;
                color: #666;
                & + h4 {
                    margin-top: 32rem;
                }
            }
        }
        h4 {
            display: inline-flex;
            height: 32rem;
            align-items: center;
            justify-content: center;
            gap: 6rem;
            margin-bottom: 16rem;
            padding: 0 16rem 0 8rem;
            border-radius: 16rem;
            background-color: #ecf2fc;
            font-weight: 600;
            font-size: 14rem;
            color: #212266;
            line-height: 20rem;
            span {
                display: inline-block;
                width: 20rem;
                height: 20rem;
                background-color: #212266;
                color: #ecf2fc;
                font-weight: 600;
                font-size: inherit;
                line-height: 20rem;
                text-align: center;
                border-radius: 50%;
            }
        }
        h5 {
            margin: 32rem 0 12rem;
            font-weight: bold;
            font-size: 16rem;
            line-height: 24rem;
            color: #333;
        }
        .tbl_collect {
            width: 100%;
            tr > * {
                padding: 12rem;
                font-weight: 600;
                font-size: 13rem;
                line-height: 18rem;
            }
            th {
                background-color: #f5f5f5;
                color: #333;
                border-radius: 6rem;
                border: 2rem solid #fff;
                text-align: left;
            }
            td {
                vertical-align: middle;
                color: #666;
                & > * {
                    display: block;
                    font-size: inherit;
                    color: inherit;
                }
                .tit {
                    margin-bottom: 4rem;
                    font-weight: bold;
                    color: #333;
                }
                .noti {
                    margin-top: 8rem;
                }
            }
        }
    }
}

/* 이벤트 조기종료 안내 팝업 */
.info_popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    .dim {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }
    .wrap {
        width: 320rem;
        padding: 20rem;
        background: #fff;
        border-radius: 24rem;
        text-align: center;
        .title {
            padding: 22rem 0 20rem;
            font-weight: 700;
            font-size: 26rem;
            color: #000;
        }
        .soldout {
            padding-bottom: 20rem;
            img {
                width: 100%;
            }
        }
        .text {
            padding-bottom: 10rem;
            line-height: 24rem;
            font-size: 16rem;
            color: #333;
            span {
                font-size: 16rem;
                color: #b43a6b;
            }
        }
        button {
            width: 100%;
            height: 56rem;
            margin-top: 12rem;
            background: #212266;
            border-radius: 16rem;
            font-size: 16rem;
            color: #fff;
        }
    }
}

/* 메인 */
.main {
    text-align: center;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 21rem;
        left: 0;
        width: 100%;
        padding: 0 21rem;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
        h1 {
            width: 64rem;
            height: 19rem;
        }
        .share {
            width: 26rem;
            height: 26rem;
        }
    }
    .visual {
        overflow: hidden;
        height: 760rem;
        margin-bottom: 60rem;
        padding-top: 100rem;
        background: #16042e url("../images/bg_visual.png") no-repeat 0 0 / 100% auto;
        .title {
            position: relative;
            height: 125rem;
            div {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
            .title1 {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                img {
                    width: 324rem;
                    height: 120rem;
                }
                animation: title1 .4s 2s forwards;
                @keyframes title1 {
                    100% {
                        left: -100%;
                    }
                }
            }
            .title2 {
                position: absolute;
                top: 0;
                left: 100%;
                width: 100%;
                img {
                    width: 324rem;
                    height: 125rem;
                }
                animation: title2 .4s 2s forwards;
                @keyframes title2 {
                    100% {
                        left: 0%;
                    }
                }
            }
        }
        .period {
            padding: 18rem 0 22rem;
            img {
                width: 200rem;
                height: 18rem;
            }
        }
        .mockup {
            img {
                width: 190rem;
                height: 376rem;
            }
        }
    }
    .text_event1 {
        padding-bottom: 24rem;
        img {
            width: 202rem;
            height: 194rem;
        }
    }
    .img_event1 {
        padding-bottom: 60rem;
        img {
            width: 292rem;
            height: 262rem;
        }
    }
    .text_event2 {
        padding-bottom: 24rem;
        img {
            width: 234rem;
            height: 194rem;
        }
    }
    .img_event2 {
        padding-bottom: 60rem;
        img {
            width: 292rem;
            height: 232rem;
        }
    }
    .swiper_wrap {
        height: 560rem;
        background-image: linear-gradient(to bottom, #f4ecff, #fff);
        .title_easymode_swiper {
            padding: 60rem 0 5rem;
            img {
                width: 231rem;
                height: 68rem;
            }
        }
        .swiper_easymode {
            overflow: hidden;
            .swiper-slide {
                width: 306rem;
                margin: 0 -9rem;
                img {
                    width: 100%;
                }
            }
            .swiper-pagination {
                position: relative;
                .swiper-pagination-bullet {
                    width: 6rem;
                    height: 6rem;
                    margin: 0 3rem;
                    background: #cac9c7;
                    border-radius: 20rem;
                    opacity: 1;
                    &.swiper-pagination-bullet-active {
                        width: 20rem;
                        background: #7d3bdd;
                    }
                }
            }
        }
    }
    .notice_wrap {
        padding: 0 16rem 110rem;
        background: #f7f7f7;
        text-align: left;
        .notice {
            dt {
                padding: 38rem 0 16rem;
                font-size: 14rem;
                font-weight: 600;
                line-height: 19rem;
                color: #222;
            }
            .event {
                padding: 14rem 0 12rem;
                font-size: 13rem;
                &:first-child {
                    padding-top: 0;
                }
            }
            li {
                position: relative;
                padding-left: 8rem;
                font-size: 12rem;
                line-height: 18rem;
                color: #666;
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    background: #666;
                    left: 0;
                    top: 8rem;
                }
                & + li {
                    margin-top: 8rem;
                }
                &.red {
                    color: #ff2c9c;
                }
                &.depth {
                    margin-left: 10rem;
                }
            }
        }
        .footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 48rem;
            margin-top: 40rem;
            border-top: 1rem solid #ccc;
            .logo {
                width: 58rem;
                height: 18rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            p {
                font-size: 11rem;
                line-height: 13rem;
                text-align: right;
                color: #666;
            }
        }
    }
    .btn_get {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        padding-bottom: 24rem;
        text-align: center;
        line-height: 0;
        opacity: 0;
        animation: btn_get 1s 2s forwards;
        @keyframes btn_get {
            100% {
                opacity: 1;
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: -64rem;
            left: calc(50% - 61rem);
            width: 122rem;
            height: 60rem;
            background: url("../images/bubble_noapp.png") no-repeat 0 0 / 100% 100%;
        }
        button {
            line-height: 0;
            img {
                width: 312rem;
                height: 60rem;
            }
        }
    }
}

/* 간편모드 체험 */
.experience {
    min-height: 100vh;
    background: #16042e url("../images/bg_experience.png") no-repeat 0 0 / 100% auto;
    text-align: center;
    .btn_close {
        position: absolute;
        top: 24rem;
        right: 24rem;
        img {
            width: 24rem;
            height: 24rem;
        }
    }
    &>.text_guide {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        line-height: 0;
        img {
            width: 100%;
            height: 237rem;
            opacity: 0;
        }
    }
    .list {
        li {
            display: none;
            &:first-child {
                display: block;
            }
            &::after {
                content: "";
                position: absolute;
                width: 39rem;
                height: 39rem;
                background: #23a7ff99;
                border: 2rem solid #008ae6e6;
                border-radius: 50%;
                opacity: 0;
                transform: translate(30rem, 30rem);
                pointer-events: none;
                animation: pointer 2s 1s infinite;
                @keyframes pointer {
                    25% {
                        opacity: 1;
                        transform: translate(0, 0);
                    }
                    35% {
                        transform: scale(.7);
                    }
                    45% {
                        opacity: 1;
                        transform: scale(1);
                    }
                    50% {
                        opacity: 0;
                        transform: scale(1);
                    }
                }
            }
            &.list1 {
                &::after {
                    top: 217rem;
                    left: 174rem;
                }
            }
            &.list2 {
                &::after {
                    top: 310rem;
                    left: 143rem;
                    animation: pointer 2s 2s infinite;
                }
            }
            &.list3 {
                &::after {
                    top: 208rem;
                    left: 221rem;
                    animation: pointer 2s 1s infinite;
                }
            }
            &.list4 {
                &::after {
                    top: 436rem;
                    left: 224rem;
                    animation: pointer 2s 2s infinite;
                }
            }
            &.list5 {
                &::after {
                    top: 388rem;
                    left: 234rem;
                    animation: pointer 2s 1s infinite;
                }
            }
            &.list6 {
                &::after {
                    top: 309rem;
                    left: 76rem;
                    animation: pointer 2s 1s infinite;
                }
            }
            &.list7 {
                &::after {
                    top: 455rem;
                    left: 170rem;
                    animation: pointer 2s 1s infinite;
                }
            }
            &.complete {
                &::after {
                    display: none;
                }
            }
            &.app_complete {
                &::after {
                    display: none;
                }
            }
            .mockup {
                position: absolute;
                top: 0;
                left: 0;
                img {
                    width: 360rem;
                    height: 650rem;
                }
            }
            .btn {
                position: absolute;
                overflow: hidden;
                padding: 5rem;
                line-height: 0;
                &::before {
                    content: "";
                    position: absolute;
                    top: -50%;
                    left: -50%;
                    width: 200%;
                    height: 200%;
                    background: linear-gradient(130deg, #b6f2ff 8%, #a851ff 52%, #f72c99 94%);
                    border-radius: 50%;
                    animation: rotate 1s linear infinite;
                    @keyframes rotate {
                        100% {
                            transform: rotate(360deg);
                        }
                    }
                }
                img {
                    position: relative;
                }
            }
            .btn1 {
                top: 189rem;
                left: 96rem;
                border-radius: 23rem;
                img {
                    width: 148rem;
                    height: 72rem;
                }
            }
            .mockup2 {
                animation: mockup2 .5s step-end forwards;
                @keyframes mockup2 {
                    100% {
                        opacity: 0;
                    }
                }
            }
            .mockup3 {
                opacity: 0;
                animation: mockup3 .5s step-end forwards;
                @keyframes mockup3 {
                    100% {
                        opacity: 1;
                    }
                }
            }
            .mockup_scroll1 {
                position: absolute;
                top: 205rem;
                left: 71rem;
                width: 218rem;
                height: 398rem;
                overflow: hidden;
                border-radius: 25rem;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 218rem;
                    height: 1016rem;
                    animation: mockup_scroll1 ease-in-out 1s .5s forwards;
                    @keyframes mockup_scroll1 {
                        100% {
                            top: -335rem;
                        }
                    }
                }
            }
            .text_guide2 {
                animation: text_guide2 .5s step-end forwards;
                @keyframes text_guide2 {
                    100% {
                        opacity: 0;
                    }
                }
            }
            .text_guide3 {
                opacity: 0;
                animation: text_guide3 2s step-end forwards;
                @keyframes text_guide3 {
                    25% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }
            .text_guide4 {
                opacity: 0;
                animation: text_guide4 2s step-end forwards;
                @keyframes text_guide4 {
                    100% {
                        opacity: 1;
                    }
                }
            }
            .btn2 {
                top: 287rem;
                left: 41rem;
                border-radius: 23rem;
                &::before {
                    top: -268rem;
                    height: calc(268rem * 2);
                    opacity: 0;
                    animation: rotate 1s linear infinite, btn2_before .5s 1.75s forwards;
                    @keyframes btn2_before {
                        100% {
                            opacity: 1;
                        }
                    }
                }
                img {
                    width: 268rem;
                    height: 72rem;
                    transform: scale(.77);
                    opacity: 0;
                    animation: btn2 .5s 1.5s forwards;
                    @keyframes btn2 {
                        10% {
                            opacity: 1;
                        }
                        100% {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
            }
            .text_guide5 {
                animation: text_guide5 1s step-end forwards;
                @keyframes text_guide5 {
                    100% {
                        opacity: 0;
                    }
                }
            }
            .text_guide6 {
                opacity: 0;
                animation: text_guide6 1s step-end forwards;
                @keyframes text_guide6 {
                    100% {
                        opacity: 1;
                    }
                }
            }
            .btn3 {
                top: 196rem;
                left: 209rem;
                border-radius: 50%;
                &::before {
                    top: -50%;
                    height: calc(56rem * 2);
                    opacity: 0;
                    animation: rotate 1s linear infinite, btn3_before .5s .75s forwards;
                    @keyframes btn3_before {
                        100% {
                            opacity: 1;
                        }
                    }
                }
                img {
                    width: 56rem;
                    height: 56rem;
                    transform: scale(.55);
                    opacity: 0;
                    animation: btn3 .5s .5s forwards;
                    @keyframes btn3 {
                        10% {
                            opacity: 1;
                        }
                        100% {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
            }
            .mockup_scroll2 {
                position: absolute;
                top: 205rem;
                left: 70rem;
                width: 218rem;
                height: 398rem;
                overflow: hidden;
                background: #fff;
                border-radius: 25rem;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 218rem;
                    height: 585rem;
                    animation: mockup_scroll2 ease-in-out 1s .5s forwards;
                    @keyframes mockup_scroll2 {
                        100% {
                            top: -240rem;
                        }
                    }
                }
            }
            .text_guide7 {
                opacity: 1;
                animation: text_guide7 .5s step-end forwards;
                @keyframes text_guide7 {
                    100% {
                        opacity: 0;
                    }
                }
            }
            .text_guide8 {
                opacity: 0;
                animation: text_guide8 2s step-end forwards;
                @keyframes text_guide8 {
                    25% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }
            .text_guide9 {
                opacity: 0;
                animation: text_guide9 2s step-end forwards;
                @keyframes text_guide9 {
                    100% {
                        opacity: 1;
                    }
                }
            }
            .btn4 {
                top: 407rem;
                left: 150rem;
                border-radius: 23rem;
                &::before {
                    top: -148rem;
                    height: calc(148rem * 2);
                    opacity: 0;
                    animation: rotate 1s linear infinite, btn2_before .5s 1.75s forwards;
                    @keyframes btn2_before {
                        100% {
                            opacity: 1;
                        }
                    }
                }
                img {
                    width: 148rem;
                    height: 72rem;
                    transform: scale(.85);
                    opacity: 0;
                    animation: btn2 .5s 1.5s forwards;
                    @keyframes btn2 {
                        10% {
                            opacity: 1;
                        }
                        100% {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
            }
            .text_guide10 {
                animation: text_guide10 1s step-end forwards;
                @keyframes text_guide10 {
                    100% {
                        opacity: 0;
                    }
                }
            }
            .text_guide11 {
                opacity: 0;
                animation: text_guide11 1s step-end forwards;
                @keyframes text_guide11 {
                    100% {
                        opacity: 1;
                    }
                }
            }
            .btn5 {
                top: 377rem;
                left: 181rem;
                border-radius: 23rem;
                &::before {
                    top: -108rem;
                    height: calc(108rem * 2);
                    opacity: 0;
                    animation: rotate 1s linear infinite, btn5_before .5s .75s forwards;
                    @keyframes btn5_before {
                        100% {
                            opacity: 1;
                        }
                    }
                }
                img {
                    width: 108rem;
                    height: 54rem;
                    transform: scale(.7);
                    opacity: 0;
                    animation: btn5 .5s .5s forwards;
                    @keyframes btn5 {
                        10% {
                            opacity: 1;
                        }
                        100% {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
            }
            .text_guide12 {
                animation: text_guide12 1s step-end forwards;
                @keyframes text_guide12 {
                    100% {
                        opacity: 0;
                    }
                }
            }
            .text_guide13 {
                opacity: 0;
                animation: text_guide13 1s step-end forwards;
                @keyframes text_guide13 {
                    100% {
                        opacity: 1;
                    }
                }
            }
            .btn6 {
                top: 301rem;
                left: 65rem;
                border-radius: 25rem;
                &::before {
                    top: -50%;
                    height: calc(56rem * 2);
                    opacity: 0;
                    animation: rotate 1s linear infinite, btn6_before .5s .75s forwards;
                    @keyframes btn6_before {
                        100% {
                            opacity: 1;
                        }
                    }
                }
                img {
                    width: 56rem;
                    height: 50rem;
                    transform: scale(.8);
                    opacity: 0;
                    animation: btn6 .5s .5s forwards;
                    @keyframes btn6 {
                        10% {
                            opacity: 1;
                        }
                        100% {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
            }
            .btn7 {
                top: 428rem;
                left: 41rem;
                border-radius: 23rem;
                &::before {
                    top: -268rem;
                    height: calc(268rem * 2);
                    opacity: 0;
                    animation: rotate 1s linear infinite, btn7_before .5s .75s forwards;
                    @keyframes btn7_before {
                        100% {
                            opacity: 1;
                        }
                    }
                }
                img {
                    width: 268rem;
                    height: 72rem;
                    transform: scale(.8);
                    opacity: 0;
                    animation: btn7 .5s .5s forwards;
                    @keyframes btn7 {
                        10% {
                            opacity: 1;
                        }
                        100% {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
            }
            .text_guide {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                line-height: 0;
                img {
                    width: 100%;
                    height: 237rem;
                }
            }
            .btn_bottom {
                position: fixed;
                bottom: 24rem;
                left: 0;
                width: 100%;
                img {
                    width: 312rem;
                    height: 60rem;
                }
            }
            &.complete {
                min-height: 100vh;
                background: #16042e url("../images/bg_experience_complete.png") no-repeat 0 0 / 100% auto;
                .title {
                    padding: 25rem 0 46rem;
                    img {
                        width: 245rem;
                        height: 203rem;
                    }
                }
                .point {
                    img {
                        width: 292rem;
                        height: 204rem;
                    }
                }
                .bubble {
                    position: fixed;
                    bottom: 88rem;
                    left: 0;
                    width: 100%;
                    img {
                        width: 198rem;
                        height: 60rem;
                    }
                }
            }
            &.app_complete {
                min-height: 100vh;
                background: #16042e url("../images/bg_experience_complete.png") no-repeat 0 0 / 100% auto;
                .title {
                    padding: 64rem 0 36rem;
                    img {
                        width: 260rem;
                        height: 132rem;
                    }
                }
                .point {
                    img {
                        width: 360rem;
                        height: 275rem;
                    }
                }
            }
        }
    }
}